/*
Theme Name: Éire Philatelic Theme
Theme URI: https://wordpress.com/
Template: seedlet
Author: Automattic
Author URI: https://wordpress.com/
Description: Seedlet child theme
Version: 1.0
Text Domain: seedlet
*/

/* 
 * Table of contents: 
 * 1. General
 * 2. Header
 * 3. Page
 * 4. Page - Home	
 * 5. Page - Contact Us 
 * 6. Blog
 * 7. Single 
 * 8. 404
 * 9. Footer
 * 10. Widgets
 * 11. Plugin - CF7
 * 12. Plugin - Blocks Animation
 * 13. Plugin - Woocommerce
 * 14. Plugin - Woocommerce Blocks 
 * 15. Plugin - Gutenslider	
 * 16. Plugin - A Z Listing
 * 17. Custom Classes
 * 18. Widget
 * 19. CPT
 */
 
/* GENERAL */	
	body {
		font-family:var(--global--font-primary);
		font-size:var(--global--font-size-md);
		line-height:var(--heading--line-height-h5);
		color:var(--global--color-foreground);			
		background-image: url(img/emerald_isle.png);		    
		background-repeat: no-repeat;
		background-size: 60%;
		background-position: center 300px;
		min-height: 1150px;
	}

	a,
	.has-background:not(.has-background-background-color) a:not(.has-text-color):not(.wp-block-button__link) {
		text-decoration:none;
		border-bottom:none;
		transition:all 0.2s ease 0s;
	}
	
	a:hover,
	.has-background:not(.has-background-background-color):hover a:not(.has-text-color):not(.wp-block-button__link):hover {
		color:var(--global--color-primary-hover);
		text-decoration:none;
	}
	
	a:focus,
	.has-background:not(.has-background-background-color):hover a:not(.has-text-color):not(.wp-block-button__link):focus {
		color:var(--global--color-primary-hover);
		outline:none;
	}
	
	p {
		margin:0 0 30px 0;
		/*line-height:var(--global--line-height-body);*/
	}
	
	.small-spacing{
		letter-spacing: -1px;
	}

	::selection {
		background-color:var(--global--color-primary) !important;
		color:#ffffff;
	}
	
	::-moz-selection {
		background-color:var(--global--color-primary) !important;
		color:#ffffff;
	}	
	
	::-webkit-input-placeholder {
		color: #aaaaaa;
	}
	
	:-moz-placeholder {
		color: #aaaaaa;  
	}
	
	::-moz-placeholder {
		color: #aaaaaa;  
	}
	
	:-ms-input-placeholder {  
		color: #aaaaaa;  
	}
	
	input[type=text],
	input[type=email],
	input[type=password],
	input[type=tel],
	input[type=number],
	textarea {
		outline:none;
		border:1px solid var(--global--color-border);
		padding:10px 15px;
	}	
	
	textarea {
		min-height:200px;
	}
	
	input[type=number] {
		padding:13px 0;
	}
	
	select {
		background-image:url(img/down-arrow.svg);
		background-repeat:no-repeat;
		background-position:right 18px center;	
		background-color:#f6f6f6;
		background-size:17px auto;
		border:1px solid var(--global--color-border);
		padding:13px 56px 13px 16px;
		-webkit-appearance:none;
		-moz-appearance:none;
		appearance:none;
		line-height:1.3;
	}	
	
	button,
	.std-button,
	input[type=submit],
	input:not(.has-background):hover[type="submit"],
	.wp-block-button.wp-block-button__link, 
	.wp-block-button .wp-block-button__link,
	.woocommerce #respond input#submit,
	.woocommerce a.button,
	.woocommerce button.button,
	.woocommerce input.button,	
	.woocommerce #respond input#submit.alt, 
	.woocommerce a.button.alt,
	.woocommerce button.button.alt, 
	.woocommerce input.button.alt {
		transition:all 0.2s ease 0s;
		padding:var(--button--padding-vertical) var(--button--padding-horizontal);
		color: var(--button--color-text);
		background-color: var(--button--color-background);
		cursor:pointer;
		font-weight: var(--button--font-weight);
		font-family: var(--button--font-family);
		font-size: var(--button--font-size);
		line-height:var(--button--line-height);		
		border-radius: var(--button--border-radius);
		border-width: var(--button--border-width);
		text-decoration: none;
		text-align: center;
	}
	
	.woocommerce #respond input#submit,
	.woocommerce a.button,
	.woocommerce button.button,
	.woocommerce input.button,	
	.woocommerce #respond input#submit.alt, 
	.woocommerce a.button.alt,
	.woocommerce button.button.alt, 
	.woocommerce input.button.alt {
		padding:calc( var(--button--padding-vertical) * 0.5 ) calc( var(--button--padding-horizontal) * 0.75 );
	}
	
	.woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled] {
		background-color: #ebe9eb;
		color:var(--global--color-black);
	}
	
	.std-button.alt,
	.woocommerce #respond input#submit.alt, 
	.woocommerce a.button.alt,
	.woocommerce button.button.alt, 
	.woocommerce input.button.alt {	
		border: var(--button--border-width) solid var(--global--color-primary);
		background-color: transparent;
		color: var(--button--color-background);
	}
	
	.woocommerce #respond input#submit.alt:hover, 
	.woocommerce a.button.alt:hover,
	.woocommerce button.button.alt:hover, 
	.woocommerce input.button.alt:hover {
		border: var(--button--border-width) solid var(--global--color-primary-hover);
		background-color: var(--button--color-background-hover);
		color:var(--button--color-text);
	}
	
	input[type=submit],
	input:not(.has-background):hover[type="submit"] {
		border-width:0px;
	}
	
	button:hover,
	.std-button:hover,
	input[type=submit]:hover,
	input:not(.has-background):hover[type="submit"],
	.wp-block-button.wp-block-button__link:hover, 
	.wp-block-button .wp-block-button__link:hover,
	.woocommerce #respond input#submit:hover,
	.woocommerce a.button:hover,
	.woocommerce button.button:hover,
	.woocommerce input.button:hover,	
	.woocommerce #respond input#submit.alt:hover, 
	.woocommerce a.button.alt:hover,
	.woocommerce button.button.alt:hover, 
	.woocommerce input.button.alt:hover {
		color: var(--button--color-text-hover);
		background-color: var(--button--color-background-hover);
	}
	
	.woocommerce form .form-row {
		padding:0;
		margin: 0 0 15px 0;
	}
	.woocommerce form .form-row .required {
		color:var(--global--color-secondary);
	}
		
	form h3 {
		font-weight:bold;
		margin: 0 0 15px 0;
	}
	
	form em {
		font-size:var(--global--font-size-sm);
		color:var(--global--color-foreground);
	}
	
	form label {
		font-weight:bold;
		font-size:var(--global--font-size-sm);
	}
	
	fieldset {
		border:1px solid var(--global--color-border);
		padding:15px;
		margin: 0 0 15px 0;
	}
	
	fieldset legend {
		font-weight:bold;
		font-size:var(--global--font-size-sm);
	}
	
	.woocommerce table.shop_table {
		border:none;
		border-collapse:collapse;
		border-radius:0px;
	}
	
	select {
		max-width:100%;
		border-radius: 6px;
	}
	
	
	.mobile {
		display:none;
	}
	
	.tablet {
		display:none;	
	}
		
	@media( max-width:991px ) {
		.desktop {
			display:none;
		}
		
		.tablet {
			display:block;
		}
	}

	@media( max-width:768px ) {
		h1, .has-h-1-font-size {
			font-size: var(--heading--font-size-h2);
			line-height:var(--heading--letter-spacing-h2);
		}

		h2, .has-h-2-font-size {
			font-size: var(--heading--font-size-h3);
			line-height:var(--heading--letter-spacing-h3);
		}

		h3, .has-h-3-font-size {
			font-size: var(--heading--font-size-h4);
			line-height:var(--heading--letter-spacing-h4);
		}
		
		.mobile {
			display:block;
		}
	}	

/* HEADER */
	header .header-wrapper {
		padding:25px 0 8px;			
		transition:all 0.2s ease 0s;
		background-color: var(--global--color-white);
		border-bottom:2px solid var(--global--color-primary);
	}

	body:not(.home) .header-wrapper {
		border-bottom:5px solid var(--global--color-primary);
	}
	
	.header-wrapper > .container {
		display:flex;	
		flex-direction: row;
		justify-content: center;
		align-items: center;
		position:relative;
		max-width:calc(100vw - ( 2 * var(--global--spacing-horizontal) ) );
		flex-wrap:wrap;
	}
	
	@media( max-width:991px ) {
		header .header-wrapper {
			padding:50px 0 25px;
		}
	}
	
	/* Transparent Header */
	header:not(.transparentheader) .header-wrapper  {
		background-color:var(--global--color-white);
	}
	
	header.transparentheader {
		position:absolute;
		width:100%;
		left:0;
		top:0;
		z-index:10000;
	}
	
	/* Sticky */
	header.stickyheader {
		position:fixed;
		width:100%;
		left:0;
		top:0;
		z-index:10000;
	}
	
	.admin-bar .stickyheader,
	.admin-bar .transparentheader {
		top:32px;
	}
	
	.stickyheader.onScroll {
		box-shadow:0 0 5px #cccccc;
	}
	
	.stickyheader.onScroll .header-wrapper {
		background-color:var(--global--color-background);
		padding:15px 0;		
	}
	
	@media( max-width:782px ) {
		.admin-bar .stickyheader,
		.admin-bar .transparentheader {
			top:46px;
		}
	}
	
	/* Top Bar Sidebar */
	header:not(.transparentheader) .topbar-wrapper {
		background-color:var(--global--color-foreground);
		color:var(--global--color-background);
	}
	
	.stickyheader.onScroll .topbar-wrapper {
		background-color:var(--global--color-foreground);
	}
	
	.bottombar-wrapper {
		background-color:var(--global--color-white);
		color:var(--global--color-foreground);
		font-size:var(--global--font-size-md);
		padding:8px 0;
	}

	.bottombar-wrapper a {
		color:var(--global--color-foreground);
	}

	.bottombar-wrapper a:hover,
	.bottombar-wrapper a:focus {
		color:var(--global--color-primary-hover);
	}
	
	.slimbar-left,
	.slimbar-right {
		display: flex;
		align-items:center;
		padding:5px 0;
		width:100%;
		height:100%;
	}
	
	.slimbar-right {
		flex-direction: row-reverse;
	}
	
	.slimbar-left > .header-area-widget,
	.slimbar-left > .footer-area-widget {
		margin-right:40px;	
	}
	
	.slimbar-right > .header-area-widget,
	.slimbar-right > .footer-area-widget {
		margin-left:40px;
	}
	
	.slimbar-left > .header-area-widget:last-child,
	.slimbar-right > .header-area-widget:last-child,
	.slimbar-left > .footer-area-widget:last-child,
	.slimbar-right > .footer-area-widget:last-child {
		margin:0;
	}

	.slimbar-left > .footer-area-widget img,
	.slimbar-right > .footer-area-widget img {
		max-width:80px;
	}
	
	.topbar-wrapper .header-area-widget > *,
	.bottombar-wrapper .footer-area-widget > * {
		margin:0;
	}
	
	@media( max-width:991px ) {
		.bottombar-wrapper {
			padding-bottom:24px;	
		}
		
		.topbar-wrapper > .row {
			flex-direction:column;
		}
		
		.slimbar-left,
		.slimbar-right {
			justify-content:center;	
			text-align: center;
			flex-direction: column;
		}
		
		.slimbar-left {
			margin:0  0 40px 0;
		}
		
		.slimbar-right > .header-area-widget, .slimbar-right > .footer-area-widget {
			margin:0 0 15px 0;
		}
	}

	/* Logo & Burger */
	.logo-wrapper {
		width:100%;
		margin:0 0 6px 0;
		display: flex;
		align-items: center;
		justify-content: center;
		position:relative;
	}
	
	.logo-wrapper img {
		width:278px;
		height:auto;
	}
	
	.slidingmenu-logo-wrapper {
		display:none !important;
	}
	
	@media( max-width:991px ) {
		.logo-wrapper {
			max-width:100%;
			margin:0 0 25px 0;
			padding:0 44px 0 0;
			justify-content: flex-start;
		}
		
		.logo-wrapper img {
			width:200px;
		}
		
		.slidingmenu .slidingmenu-logo-wrapper { 
			display:block !important;
			margin: 0 0 15px 0;
		}
	}
	
	/* Burger */
	.burger-wrapper {
		width:29px;
		height:20px;
		display:none;		
		position:absolute;
		top:50%;
		right:0;
		transform:translateY(-50%);
		cursor:pointer;
	}
	
	.burgerbar {
		width:29px;
		height:4px;
		border-radius:10px;
		background-color:var(--global--color-primary);
		margin:0 0 4px 0;
		transition:all 0.2s ease 0s;
	}
	
	.burgerbar.top {
		transform-origin:left top;
	}
	
	.burgerbar.middle {
	
	}
	
	.burgerbar.bottom {
		margin:0;
		transform-origin:left bottom;
	}
	
	.burger-wrapper:hover .burgerbar.top {
		transform:translate(0px, -3px);
	}
	
	.burger-wrapper:hover .burgerbar.bottom {
		transform:translate(0px, 3px);
	}
	
	.header-wrapper.open .burgerbar.top {
		transform:rotate(45deg) translate(3px, -5px);
		width:29px;
		height:4px;
	}
	
	.header-wrapper.open .burgerbar.middle {
		display:none;
	}
	
	.header-wrapper.open .burgerbar.bottom {
		transform:rotate(-45deg) translate(-3px, 11px);
		width:29px;
		height:4px;
	}
	
	.header-wrapper.open .burger-wrapper:hover .burgerbar.top {
		transform:rotate(32deg) translate(3px, -1px);
	}
	
	.header-wrapper.open .burger-wrapper:hover .burgerbar.bottom {
		transform:rotate(-32deg) translate(-1px, 8px);
	}
	
	@media( max-width:991px ) {
		.burger-wrapper {
			display:block;
		}
	}
	
	/* Menu */
	.menu-wrapper.primary-navigation {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin:0;
	}
	
	.mainmenu { 
		/* Main */
		height:100%;
		display:flex;
		align-items:center;
		justify-content:flex-end;
		flex-wrap:wrap;
		margin:0;
		padding:15px 0 0 0;
		transition:opacity 0.2s ease 0s;
	}
	
	.menu {	
		/* General / Footer */
		display:flex;
		align-items:flex-start;
		justify-content:center;
		flex-wrap:wrap;
		flex-direction:column;
		padding:0;
	}
	
	.mainmenu li,
	.menu li {
		list-style-type:none;		
	}
	
	.mainmenu > li {
		margin:0 0 0 39px;
		display:flex;
		align-items:flex-start;
		position:relative;		
	}
	
	.mainmenu > li:nth-child(2) {
		margin:0;	
	}
	
	.mainmenu > li > a {
		padding:0 0 15px 0;
	}
	
	.menu > li > a {
		display:block;
		padding:0 0 5px 0;
	}
	
	.mainmenu li a {
		/*color:var(--global--color-primary);*/
	}
	
	.mainmenu li a:hover {
		/*color:var(--global--color-secondary);*/
	}
	
	.primary-navigation a:link {
		color:var(--primary-nav--color-link);
	}
	
	.primary-navigation .menu-item > a:hover, 
	.woo-navigation .menu-item > a:hover {
		color: var(--primary-nav--color-link-hover);
		border-color: var(--primary-nav--color-border);
	}
	
	.primary-navigation .menu-item > a:active,
	.primary-navigation .menu-item > a:focus {
		color:var(--primary-nav--color-link-hover);
	}
	
	.mainmenu li.current-menu-item a,
	.menu li.current-menu-item a {
		color:var(--primary-nav--color-link-hover);
	}

	.primary-navigation .mainmenu > .menu-item:nth-last-child(2) > a:link,
	.primary-navigation .mainmenu > .menu-item:last-child > a:link {
		color:var(--global--color-tertiary);
	}

	.primary-navigation .mainmenu > .menu-item:nth-last-child(2) > a:hover,
	.primary-navigation .mainmenu > .menu-item:last-child > a:hover,
	.primary-navigation .mainmenu > .menu-item:nth-last-child(2) > a:active,
	.primary-navigation .mainmenu > .menu-item:last-child > a:active,
	.primary-navigation .mainmenu > .menu-item:nth-last-child(2) > a:focus,
	.primary-navigation .mainmenu > .menu-item:last-child > a:focus {
		color:var(--global--color-tertiary-hover);
	}


		
	.mainmenu li.menu-item-has-children > a {
		position:relative;
		padding:0 18px 15px 0;
	}
	
	.mainmenu li.menu-item-has-children > a:after {
		content: '';		
		position:absolute;
		top:50%;		
		right:2px;
		margin-top:-7.5px;
		border: solid var(--primary-nav--color-text);
		border-width: 0 2px 2px 0;
		padding: 3px;
		transition:all 0.2s ease 0s;
		transform: translateY(-50%) rotate(45deg);
		-webkit-transform: translateY(-50%) rotate(45deg);
	}
	
	.mainmenu li.menu-item-has-children > a:hover:after {
		border-color:var(--primary-nav--color-link-hover);
	}
	
	.mainmenu li.menu-item-has-children:hover > .sub-menu {
		opacity:1;
		visibility:visible;
	}
	
	.primary-navigation .sub-menu {		
		position:absolute;
		top:100%;
		left:50%;
		transform:translateX(-50%);
		box-shadow:1px 1px 30px rgba(0,0,0,.06);
		border-top:0px solid var(--global--color-secondary);
		min-width:220px;
		width:100%;
		background-color:#ffffff;
		display:block;
		opacity:0;
		visibility:hidden;
		transition:all 0.4s ease 0s;
		z-index:100000;		
		border-radius:8px;
		overflow:hidden;
		margin:15px 0 0 0 !important;
	}
	
	.sub-menu:before {
		position:relative;
		content:'';
		width:100%;
		height:15px;
		margin-top:-15px;
		display:block;
	}
	
	.sub-menu li {
		padding:0;
	}
	
	.sub-menu li a {
		/*padding:10px 25px;*/
		display:block;
		transition:all 0.2s ease 0s;
		width:100%;
	}
	
	.sub-menu li a:hover {
		/*background-color:var(--global--color-primary);
		color:var(--global--color-white);*/
	}
	
	.mainmenu > li:last-child .sub-menu {
		left:auto;
		right:0;
		transform:none;
	}
	
	.menu .sub-menu {
		position:static;
		opacity:1;
		visibility:visible;
		min-width:0;
		transform:none;
		box-shadow:none;
		border:none;	
		padding:0 0 0 25px;
	}
	
	.menu .sub-menu li a {
		padding:0 0 5px 0;
	}
	
	.menu .sub-menu li a:hover {
		background:none;
		color:var(--global--color-secondary);
	}
	
	.slidingmenu-overlay {
		display:none;
		background:rgba(0,0,0,0.5);
		position:fixed;
		z-index:99999;
		width:100%;
		height:100%;
		top:0;
		left:0;
	}
	
	@media( min-width:992px ) {
		.menu-wrapper {
			display: flex !important;	
		}
		
		.slidingmenu-overlay {
			display:none !important;	
		}
	}
	
	@media( max-width:991px ) {
		.header-wrapper {
			padding:50px 0 25px 0;
		}
		
		.header-wrapper > .container {
			flex-direction:column;
		}
		
		.menu-wrapper.primary-navigation {
			flex:auto;
			display:none;
			width:100%;
			justify-content:flex-start;
			position:static;
		}

		.menu-wrapper.slidingmenu {
			position: fixed;
			width: 220px;
			height: 100%;
			top:0;
			left:-220px;
			background-color: white;
			z-index: 100000;	
			box-shadow:0 3px 15px rgba(0,0,0,.4);	
			overflow-y:auto;	
			padding:15px 15px;
		}
		
		.admin-bar .menu-wrapper.slidingmenu {
			padding:80x 15px 15px 15px;
		}
		
		.mainmenu {
			display:block;
		}
		
		.mainmenu > li {
			margin:0;
		}
		
		.mainmenu > li > a {
			width:100%;	
		}
		
		li.menu-item-has-children {
			flex-direction:column;
		}
		
		.mainmenu li.menu-item-has-children > a {
			padding:0 0 var(--primary-nav--padding) 0;
		}
		
		.menu li.menu-item-has-children > a {
		}
		
		.mainmenu li.menu-item-has-children > a:after,
		.menu li.menu-item-has-children > a:after {
			display:none;
		}
		
		.primary-navigation .sub-menu {
			position:static;
			opacity:1;
			visibility:visible;
			transform:none;
			border-radius:0;
			box-shadow:none;
			border:none;
			min-width:0;
			padding:0 0 var(--primary-nav--padding) 0 !important;
			transition:none;
			margin:0 !important;
		}
		
		.primary-navigation .sub-menu li a  {
			padding:0 0 15px 25px;
		}
		
		.primary-navigation .sub-menu li a:hover {
			background:none;
		}
	}
	
	/* Screen Reader */
	.screen-reader-text {
		background: #88b7d5;
		font-size:12px;
		font-family:var(--global--font-primary);
		position:absolute;
		background-color:rgba(0,0,0,0.8);
		padding:5px 8px;
		border-radius:4px;
		bottom: -30px;
		left: 50%;
		transform:translateX(-50%);
		display:none;
	}
	
	.screen-reader-text:after {		
		border: solid transparent;
		content: "";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(136, 183, 213, 0);
		border-bottom-color: rgba(0,0,0,0.8);
		border-width: 5px;
		margin-left: -5px;
		left:50%;
		top:-10px;
	}
	
	a:hover .screen-reader-text {
		display:block;		
		width: auto;
		height: auto;
		clip: auto;
		clip-path: none;
		overflow:visible;
	}
	
	.search-wrapper {
		width:24px;
		padding:0 0 0 6px;
		display:flex;
		align-items:center;
		justify-content:center;
		margin:0 0 0 24px;
		cursor:pointer;
		position:relative;
	}
	
	.search-wrapper svg {
		width:20px;
		height:20px;
		fill:var(--global--color-secondary);
	}
	
	.search-wrapper:hover svg {
		fill:var(--global--color-secondary-hover);
	}
	
	.search-wrapper #searchform {
		height:100%;
	}
	
	input.search-input {
		position:absolute;
		width:0 !important;
		right: calc( 100% + 6px );
		transition:all 0.4s ease 0.4s;
		padding:10px 0;
		border-radius:8px;
		border:0px solid transparent;
		background-color:#ffffff;
		top:-18px;
	}
	
	.searchopen input.search-input {
		width:300px !important;
		border:1px solid var(--global--color-primary);
		padding:10px 15px;
		outline:none;
	}
	
	.searchopen .mainmenu {
		opacity:0;
	}
	
	.search-wrapper input[type=submit] {
		display:none;		
	}
	
	.search-wrapper label {
		position:absolute;
		right:0;
		top:0;
		width:65px;
		height:100%;
		cursor:pointer;
		display:flex;
		align-items:center;
		justify-content:center;
	}

	@media( max-width:991px ) {	
		.search-wrapper {
			display:none;
		}
		
		#s {
			padding:8px 50px 8px 15px;
		}		
	}
	
/* PAGE */
	.page-heading-wrapper {
		background-color:var(--global--color-primary);
		min-height:210px;	
		display:flex;		
		align-items:center;	
	}

	.page-heading,
	.page-title {
		padding:0;
		display:flex;
		align-items:center;
		color:var(--global--color-white);
		font-size:var(--heading--font-size-h2);
		line-height:var(--heading--letter-spacing-h2);
		font-weight:700;
	}

	.page-title-wrapper {
		text-align: left;
		padding:80px 0 55px;
	}

	.page-title-wrapper h1 {
		color:var(--global--color-primary);
	}
	
	.breadcrumb-wrapper {
		margin-bottom:5px;
	}
	
	.archivepage-wrapper .page-title {
		flex-direction:column;
		align-items:flex-start;
	}
	
	.archive-prefix {
		font-size:var(--heading--font-size-h5);
		line-height:var(--heading--letter-spacing-h5);
		color:var(--global--color-white);
		font-weight:700;
		margin: 0 15px 0 0;
	}
	
	@media( max-width:991px ) {
		.page-heading,
		.page-title {
			font-size:var(--heading--font-size-h3);
			line-height:var(--heading--letter-spacing-h3);
		}
	}

	/* Content */
	.content-wrapper {
		display:flex;
		margin-bottom:100px !important;
	}

	.content-left {
		flex:1;
		margin-right:50px;
	}

	.content-right {
		width:490px;		
	}

	.sidebar-wrapper {
		border:1px solid var(--global--color-primary);
		border-radius:6px;
		padding:37px 50px;
	}

	@media( max-width:991px ) {
		.content-wrapper {
			flex-direction: column;
		}
		
		.content-left {			
			margin-right:0px;
			margin-bottom:80px;
		}

		.content-right {
			width:100%;
			flex:1;
			margin-bottom:80px;
		}
	}
	
	/* Paging */
	.paging-numbered {
		text-align:center;	
		margin: 100px 0 100px 0;
		display:flex;
		align-items:center;
		justify-content:center;
	}
	
	.paging-numbered .nav-numbered {
		padding:8px;
		min-width:43px;
		height:43px;
		border:1px solid var(--global--color-border);
		margin-left:2px;	
		margin-right:2px;
		line-height:25px;
	}
	
	.paging-numbered .nav-numbered.static {
		background-color:var(--global--color-primary);
		border:1px solid var(--global--color-primary);
		color:var(--button--color-text);
		cursor:default;			
		transition:all 0.2s ease 0s;
	}
	
	.paging-numbered .nav-numbered:hover {
		background-color:var(--global--color-primary);
		border:1px solid var(--global--color-primary);
		color:var(--button--color-text);	
	}
	
	.paging-numbered .nav-numbered.nav-arrow {
		line-height:22px;
	}
	
	.paging-numbered .nav-numbered.nav-arrow svg {
		fill:var(--wp--style--color--link, var(--global--color-primary));
	}
	
	.paging-numbered a {		
		text-transform:uppercase;	
		border:none;
	}
	
	.paging-numbered a:hover {
		text-decoration:none;	
	}
	
	.paging-numbered .nav-first,
	.paging-numbered .nav-last,
	.paging-numbered .nav-prev,
	.paging-numbered .nav-next {
		display:flex;
		align-items:center;
		justify-content:center;
	}
	
	.paging-numbered .nav-first svg,
	.paging-numbered .nav-last svg {
		width:14px;
	}
	
	.paging-numbered .nav-prev svg,
	.paging-numbered .nav-next svg {
		width:8px;
	}
	
	.paging-numbered .nav-first:hover svg,
	.paging-numbered .nav-last:hover svg,
	.paging-numbered .nav-prev:hover svg,
	.paging-numbered .nav-next:hover svg {
		fill:var(--button--color-text);		
	}
	
/* PAGE - HOME */

/* PAGE - CONTACT US */
	.contact-row {
		margin:0 -15px;
		display:flex;
		flex-wrap:wrap;
		line-height:1.7;
	}
	
	.contact-column {
		padding:0 15px;
		margin:0 0 10px 0;
		width:100%;
	}
	
	.contact-column-6 {
		padding:0 15px;
		margin:0 0 20px 0;
		width:50%;
	}
	
	.contact-label {
		font-weight:700;
	}
	
	.contact-checkbox {
		margin:0 0 20px 0;
	}
	
	.wpcf7-list-item {
		margin:0;
		width:100%;
		padding:0 15px 0 0;
	}
	
	.contact-checkbox .wpcf7-list-item label {
		font-weight:400;
		font-size:var(--heading--font-size-h4);
	}

	.contact-checkbox .wpcf7-list-item label {
		font-weight: 400;
		font-size: var(--heading--font-size-h4);
		display: flex;
		flex-flow: row;
		align-content: center;
		justify-content: left;
		align-items: baseline;
	}

	.contact-checkbox .wpcf7-list-item label span {
		padding-left:10px; 
	}

	.required {
		color:red;
	}
	
	@media( max-width:767px ) {
		.contact-column-6 {
			width:100%;
		}
		
		.wpcf7-list-item {
			width:100%;
		}
		
		.contact-row {
			font-size:18px;
		}
	}
	
/* BLOG */
	.blogpage-wrapper .page-heading-wrapper,
	.archivepage-wrapper .page-heading-wrapper,
	.page-wrapper .page-heading-wrapper,
	.searchpage-wrapper .page-heading-wrapper {
		margin:0 0 100px 0;		
	}
	
	.blog-wrapper {		
		display:flex;	
		margin:0 0 50px 0;
	}
	
	.blog-wrapper a:hover {
		text-decoration:none;
	}
	
	.blog-thumb {
		width: 400px;
		height: 100%;
		min-height: 400px;
		margin: 0 30px 0 0;
		position: relative;
		overflow: hidden;
	}
	
	.blog-thumb-inner {
		width: 100%;
		height: 100%;
		background-color: var(--global--color-background-dark);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		transition: all 0.2s ease 0s;
	}
	
	.blog-thumb:hover .blog-thumb-inner {
		transform: scale(1.2);
	}	
	
	.blog-content {
		flex:1;	
	}
	
	.blog-meta-date {
		display:flex;
		align-items:center;
		margin:0 0 5px 0;
	}
	
	.blog-meta-date a {
		color:var(--global--color-primary);
		font-weight:700;
	}
	
	.blog-meta-date svg {
		width:20px;
		margin: 0 8px 0 0;
		fill:var(--global--color-primary);
	}
	
	.blog-meta-date a:hover {
		color:var(--global--color-secondary);
	}
	
	.blog-title h3 {
		font-weight:700;
		margin:0;
	}
	
	.blog-title a {
		color:var(--global--color-black);
	}
	
	.blog-title a:hover {
		color:var(--global--color-primary);
	}
	
	.blog-meta-top {
		margin:0 0 20px 0;
	}
	
	.blog-meta-top,
	.blog-meta-bottom {
		display:flex;
	}
	
	.blog-meta-top a,
	.blog-meta-bottom a {
		color:var(--gray);
		font-size:var(--global--font-size-sm);
	}
	
	.blog-meta-top a:hover,
	.blog-meta-bottom a:hover {
		color:var(--global--color-primary);
	}
	
	.blog-meta-top > div {
		display:flex;
		align-items:center;
		margin: 0 20px 0 0;
	}
	
	.blog-meta-top svg,
	.blog-meta-bottom svg {
		width:16px;
		margin: 0 8px 0 0;
		fill:var(--gray);
	}
	
	.blog-excerpt {
		border-bottom:1px solid var(--global--color-border);		
		margin: 0 0 15px 0;
	}
	
	.blog-meta-bottom {
		display:flex;		
		justify-content:space-between;
		align-items:center;
		padding:0px 0 15px 0;
	}
	
	.blog-more {
	}
	
	.blog-more a {
	}
	
	.blog-more a:after {
		content:"\f105";
		font-family:icomoon;
		font-size:14px;
	}
	
	.blog-comments i {
		margin:0 5px 0 0;
	}
	
	.post-tags {
		display:flex;
		align-items:center;
		margin:0 10px 0 0;
		color:var(--gray);
	}
	
	.post-tags a:hover {
		color:var(--global--color-primary);
	}
	
	@media( max-width:991px ) {
		.blog-wrapper {
			flex-direction:column;
		}
		
		.blog-thumb {
			margin: 0 0 15px 0;
			width: 100%;
			min-height: 0;
			height: 400px;
		}
		
		.blog-meta-date {
			margin:0 !important;
		}
		
		.blog-meta-category {
			margin-right:0;
		}
	}
	
	@media( max-width:767px ) {
		.blog-meta-top {
			flex-direction:column;
		}
	}
	
/* SINGLE */	
	.single-wrapper .content-wrapper {
		padding:100px 0 0 0;
	}

	.single-content {
		padding:0 25px 0 0;
		margin:0 0 100px 0;
	}
	
	.slim  .single-content {
		max-width:min(calc(100vw - 2* var(--global--spacing-horizontal)), 800px );	
		margin-left:auto;
		margin-right:auto;
	}
	
	.single-sidebar {
		padding:0 0 0 25px;
		margin:0 0 100px 0;
	}
	
	.single-widget {
		margin:0 0 calc( 2 * var(--global--spacing-vertical) ) 0;
	}
	
	.single-widget h3 {
		margin:0 0 15px 0;
	}
	
	.single-widget ul {
		list-style-type:none;
		padding:0;
	}
	
	.single-widget li {
		border-bottom:1px solid var(--global--color-border);
		padding:0 10px 10px 20px;
		position:relative;
		margin:0 0 10px 0;
	}
	
	.single-widget li:before {
		font-family: icomoon;
		content: "\f105";
		position:absolute;
		left:0;
		top:0;
		color:var(--global--color-primary);
	}
	
	.single-description {
		/*padding-bottom:50px;*/
		border-bottom:1px solid var(--global--color-border);
	}
	
	.single-description p {
		margin:0 0 20px 0;
	}
	
	.single-social-wrapper {
		border-bottom:1px solid var(--global--color-border);
		padding:15px 0;		
		display:flex;
		align-items:center;
		
		display:none;
	}
	
	.sharedaddy  {
		border-top:1px solid var(--global--color-border);
		padding:15px 0 10px;	
		margin-top:50px;
	}
	
	.sharedaddy .sd-sharing {
		margin:0;
	}
	
	.share-customize-link {
		display:none;	
	}
	
	.single-social-title {
		font-family:var(--global--font-secondary);
		font-weight:700;
		margin: 0 15px 0 0;
		color:var(--gray);
	}
	
	.single-social {
		display:flex;		
	}
	
	.single-nav-wrapper {
		display:flex;
		align-items:center;
		padding:15px 0;
		border-bottom:1px solid var(--global--color-border);
	}
	
	.single-nav {
		display:flex;	
		align-items:flex-start;
		flex-wrap:wrap;
	}
	
	.single-nav-block {
		display:flex;
		flex:1;
	}
	
	.single-nav-block.next-post {
		margin:0 15px 0 0;
	}
	
	.single-nav-block.prev-post {
		margin:0 0 0 15px;
		justify-content: flex-end;
	}
	
	.single-nav-thumb {
		width:100px;
		height:100px;
		background-position:center;
		background-repeat:no-repeat;
		background-size:cover;
		background-color:#f4f4f4;
	}
	
	.next-post .single-nav-thumb {
		margin:0 10px 0 0;
	}
	
	.prev-post .single-nav-thumb {
		margin:0 0 0 10px;
	}
	
	.single-nav-title-wrapper {
		flex:1;
	}
	
	.prev-post .single-nav-title-wrapper {
		text-align:right;
	}
	
	.single-nav-title-label {
		font-weight:bold;
		font-size:var(--heading--font-size-h5);
		line-height:var(--heading--line-height-h5);
		color:var(--gray);
	}	
	
	.single-nav-title {
		font-weight:bold;		
	}
	
	@media( max-width:1199px ) {
		.single-content {
			padding:0 0 0 0;
		}
		
		.single-sidebar {
			padding:0 0 0 0;
		}
	}
	
	@media( max-width:991px ) {
		.single-nav-wrapper {
			flex-direction:column;
			align-items:flex-start;
		}
		
		.single-nav-block.next-post {
			margin:0 0 15px 0;
		}
		
		.single-nav-block.prev-post {
			margin:0;
			justify-content:flex-start;	
		}
		
		.prev-post .single-nav {
			flex-direction:row-reverse;
		}
		
		.prev-post .single-nav-thumb {
			margin:0 10px 0 0;	
		}
		
		.prev-post .single-nav-title-wrapper {
			text-align:left;
		}
	}
	
	@media( max-width:767px ) {
		.single-wrapper .content-wrapper {
			padding:50px 0 0 0;
		}
		
		.single-wrapper {
			flex-direction:column;
		}

	}
	
	@media( max-width:576px ) {
		.single-wrapper .content-wrapper {
			padding:15px 0 0 0;
		}
		
		.single-social-wrapper {
			flex-direction:column;
			align-items:flex-start;
		}
		
		.single-social-title {
			margin:0 0 7px 0;
		}
		
		.single-social a:first-child {
			margin-left:0;
		}
	}
	
	.single-title {
		margin-bottom:0;
	}
	
	.single-title h1 {
		font-weight:bold;	
		margin:calc( 2 * var(--global--spacing-vertical) ) 0 10px 0;
	}
	
	.single-meta-wrapper {
		margin-top:0;
		margin-bottom:calc( 2 * var(--global--spacing-vertical) );
	}
	
	.single-meta-wrapper .blog-meta-date svg {
		fill:var(--gray);
	}
	
	.single-meta-wrapper .blog-meta-date a {
		color:var(--gray);
	}
	
	.single-meta-wrapper .blog-meta-date a:hover {
		color:var(--global--color-primary);
	}
	
	.single-thumb,
	.entry-content > .single-thumb {
		text-align:center;
		margin-bottom:calc( 2 * var(--global--spacing-vertical) );
	}
	
	.single-thumb img {
		width:100%;
	}
	
	.single-wrapper .blog-meta-top {
		margin: 0 0 30px 0;
	}
	
	.single-content-wrapper {
		margin: 0 auto 15px;
		max-width:800px;
	}
	
	/* Sharer */
	.sharer-wrapper {
		display:flex;
		align-items:center;
	}
	
	.sharer-title {
		text-align:left;
		margin:0 20px 0 0;
		color:var(--global--color-secondary);
	}
	
	.sharer-title h4 {
		font-weight:bold;
		margin:0;
	}
		
	.sharer-list {
		display:flex;
		align-items:center;
		justify-content:flex-start;	
	}
	
	.sharer-link {
		cursor:pointer;	
	}
	
	.sharer-link:hover svg {
		fill:var(--global--color-white);
	}
	
	.sharer-link.sharer-facebook:hover {
		border-color:#4267b2; 
		background-color:#4267b2; 
	}	  
	
	.sharer-link.sharer-twitter:hover {
		border-color:#1da1f2; 
		background-color:#1da1f2; 
	}	
	
	.sharer-link.sharer-pinterest:hover {
		border-color:#e60023; 
		background-color:#e60023; 
	}	
	
	.sharer-link.sharer-linkedin:hover {
		border-color:#0e76a8; 
		background-color:#0e76a8; 
	}	
	
	.sharer-link.sharer-email:hover {
		border-color:#13adea; 
		background-color:#13adea;
	}
	
	.sharer-list a {
		display:flex;
		padding:10px;
		margin:0 15px 0 0 ;	
		border-radius:100px;
		border:2px solid var(--gray);
		position:relative;
	}
	
	.sharer-list svg {
		width:20px;
		height:20px;
		fill:var(--gray);
		vertical-align:middle;
	}
	
	.sharer-list a:last-child img {
		margin:0;	
	}
	
	.sharer-wrapper a .screen-reader-text {
		bottom:auto;
		top:-30px;
		word-break:initial;
	}
	
	.sharer-wrapper a .screen-reader-text:after {		
		border: solid transparent;
		content: "";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(136, 183, 213, 0);
		border-top-color: rgba(0,0,0,0.8);
		border-width: 5px;
		margin-left: -5px;
		left:50%;
		top:100%;
	}
	
	.sharer-wrapper a:hover .screen-reader-text {
		display:block;		
		width: auto;
		height: auto;
		clip: auto;
		clip-path: none;
		overflow:visible;
		color:#fff;
	}
	
	/* Author */
	.single-author-wrapper {
		display:flex;
		align-items:flex-start;
		border-bottom:1px solid var(--global--color-border);
		padding:50px 0;
	}
	
	.single-author-title {
		color:var(--gray);
		letter-spacing:1px;
		text-transform: uppercase;
		font-size: var(--global--font-size-sm);
	}
	
	.single-author-image {
		width:128px;
		margin:0 30px 0 0;
	}
	
	.single-author-image img {
		width:128px;
		height:128px;
		border-radius:500px;
	}
	
	.single-author-content {
		flex:1;
	}
	
	.single-author-name h4 {
		font-weight:bold;
		margin: 0 0 10px 0;
	}
	
	.single-author-description {
		font-size:var(--heading--font-size-h5);
		line-height:var(--heading--letter-spacing-h5);
	}
	
	.single-author-contact {
	}
	
	/* Related Post */
	.relatedpost-wrapper {
		padding:15px 0 0 0;
		border-bottom:1px solid var(--global--color-border);
	}
	
	.relatedpost-heading {
		margin:0 0 15px 0;
	}
	
	.relatedpost-heading h5 {
		font-weight: bold;
		color: var(--gray);
	}
	
	.relatedpost {
		margin:0 0 15px 0;
	}
	
	.relatedpost-thumb {
		width:100%;
		height:200px;
		margin:0 0 10px 0;
		position:relative;
		overflow:hidden;
	}
	
	.relatedpost-thumb-inner {
		background-position:center;
		background-repeat:no-repeat;
		background-size:cover;
		position:absolute;
		width:100%;
		height:100%;
		left:0;
		top:0;
		transition:all 0.2s ease 0s;
	}
	
	.relatedpost-thumb:hover .relatedpost-thumb-inner {
		transform:scale(1.2);
	}
	
	.relatedpost-title h4 {
		font-weight:700;
	}
	
	/* Comments */
	.single-comments-wrapper {
		padding:50px 0 0 0;
	}
	
	.comment-body > * {
		margin:auto;
	}
	
	.comments-area {
		margin:0;
	}
	
	.comments-title, 
	.comment-reply-title {
		font-size:var(--heading--font-size-h5);
		line-height:var(--heading--line-height-h5);
		font-weight:bold;
		font-style:normal;
		color:var(--gray);
		text-transform:uppercase;
	}
	
	.comment-meta .comment-author .avatar {
		border:none;
	}
	
	.comment-meta .comment-author .fn {
		font-size:var(--heading--font-size-h5);
		line-height:var(--heading--line-height-h6);
	}
	
	.comment-author .url {
		color:var(--global--color-primary);
	}
	
	.comment-author .url:hover, 
	.comment-author .url:focus,
	.comment-meta .comment-metadata a:hover, 
	.comment-meta .comment-metadata a:focus {
		color:var(--global--color-secondary);
		border-bottom:none;
	}
	
	.comment-meta .comment-metadata {
		color:var(--gray);
	}
	
	.comment-content {
		padding:15px 0 15px 60px;
		margin:0;
	}
	
	.comment-list .children {
		padding-left:60px;
	}
	
	.comment-list .children > li {
		margin:0;
		padding:15px 0;
	}
	
/* 404 */
	.error-404 {
		padding:100px 0;
		text-align:center;
		display:flex;
		flex-direction:column;
		flex-wrap:wrap;
		align-items:center;
		justify-content:center;
	}
	
	.error-404 h3.page-title {
		flex-direction:column;
		justify-content:center;
		color:var(--global--color-primary);
		font-size:bold;
		margin:0 0 60px 0;
	}
	
/* FOOTER */
	.footer-wrapper {
		padding:50px 0;
	}

	#toTop {
		border-radius: 8px 8px 0 0;
		pointer-events: auto;
		transition: opacity .4s ease-in-out,background .2s ease-in-out;
		right:75px;
		background-color: var(--global--color-primary);
		bottom: 0;
		height: 35px;
		position: fixed;
		text-align: center;
		width: 48px;
		z-index: 100000;
		line-height: 1;
		cursor:pointer;
		display:none;
		box-shadow:5px 5px 30px rgba(0,0,0,.06);
	}
	
	#toTop:before {
		content: '';		
		position:absolute;
		top:50%;		
		left:50%;
		margin-top:3px;
		border: solid var(--global--color-background);
		border-width: 0 2px 2px 0;
		padding: 3px;
		transition:all 0.2s ease 0s;
		transform: translate(-50%, -50%) rotate(225deg);
		-webkit-transform: translate(-50%, -50%) rotate(225deg);
	}
	
	#toTop:hover {
		background-color:var(--global--color-secondary);	
	}
	
/* WIDGETS */
	

/* PLUGIN - CF7 */
	.wpcf7-form-control-wrap input[type=text],
	.wpcf7-form-control-wrap textarea,
	.wpcf7-form-control-wrap input[type=email],
	.wpcf7-form-control-wrap input[type=password],
	.wpcf7-form-control-wrap input[type=tel],
	.wpcf7-form-control-wrap input[type=number] {
		width: 100%;
		margin: 0;
	}
	
	.wpcf7-form-control-wrap textarea {
		height:150px;
	}
	
	input.wpcf7-not-valid,
	textarea.wpcf7-not-valid {
		
	}
	
	.wpcf7-not-valid-tip {
		color:#e40000;
		font-size:--global--font-size-sm;
		text-align:right;
	}

	.wpcf7 .wpcf7-form.failed .wpcf7-response-output, 
	.wpcf7 .wpcf7-form.invalid .wpcf7-response-output,
	.wpcf7 .wpcf7-form.spam .wpcf7-response-output,
	.wpcf7 .wpcf7-form.unaccepted .wpcf7-response-output {
		padding:15px;
		margin:40px 0;
		text-align:center;
		background-color: rgba(255,97,134,0.08);
		border: 1px solid #e40000;
		color: #e40000;
		border-radius:4px;
	}
	
	.wpcf7 .wpcf7-form.sent .wpcf7-response-output {
		background-color: #dff0d8;
		border: 1px solid #468847;
		color: #468847
	}
		
/* PLUGIN - BLOCKS ANIMATION */
	/*.fadeInLeft {
		animation-name: customFadeInLeft;
		animation-duration:0.8s;
	}	

	.fadeInRight {
		animation-name: customFadeInRight;
		animation-duration:0.8s;
	}	

	.fadeInUp {
		animation-name: customFadeInUp;
		animation-duration:0.8s;
	}	

	.fadeInDown {
		animation-name: customFadeInDown;
		animation-duration:0.8s;
	}	
		
	@keyframes customFadeInLeft {
		from { transform:translateX(-30px); opacity:0; }
		to { transform:translateX(0); opacity:1; }
	}

	@keyframes customFadeInRight {
		from { transform:translateX(30px); opacity:0; }
		to { transform:translateX(0); opacity:1; }
	}

	@keyframes customFadeInUp {
		from { transform:translateY(30px); opacity:0; }
		to { transform:translateY(0); opacity:1; }
	}

	@keyframes customFadeInDown {
		from { transform:translateY(-30px); opacity:0; }
		to { transform:translateY(0); opacity:1; }
	}*/	
	
/* PLUGIN - WOOCOMMERCE */
	/* General */
	body[class*="woocommerce"] .entry-content > .woocommerce {
		max-width:var(--responsive--aligndefault-width);
	}
	
	.wide-max-width {
		max-width:var(--responsive--aligndefault-width);
	}
	
	.content-wrapper > .woocommerce {
		margin: 0 auto 45px auto;
	}
	
	/* Breadcrumb */
	.woocommerce .woocommerce-breadcrumb {
		font-size:var(--global--font-size-root);
		line-height:var(--global--line-height-body);
		color:var(--global--color-foreground);
	}
	
	.woocommerce .woocommerce-breadcrumb a {
		color:var(--global--color-primary);
	}
	
	/* Title */
	.woocommerce-products-header__title.page-title {
		color:var(--global--color-primary);
	}
	
	/* Notice */
	.woocommerce-error, 
	.woocommerce-info,
	.woocommerce-message {
		font-size:var(--global--font-size-root);
		border:2px solid var(--global--color-border);
		color:var(--global--color-foreground);
		background-color:var(--global--color-background);
		padding:15px 15px 15px 60px;
	}
	
	.woocommerce-error:before, 
	.woocommerce-info:before,
	.woocommerce-message:before {
		top:15px;
		left:24px;
	}
	
	.woocommerce-message { border-color:var(--global--color-alert-success);	}
	.woocommerce-message:before { color:var(--global--color-alert-success);	}
	
	.woocommerce-info { border-color:var(--global--color-alert-info); }
	.woocommerce-info:before { color:var(--global--color-alert-info); }
	
	.woocommerce-error { border-color:var(--global--color-alert-error); }	
	.woocommerce-error:before {	color:var(--global--color-alert-error); }
	
	.woocommerce .woocommerce-notices-wrapper a.button,
	.woocommerce .woocommerce-error a.button,
	.woocommerce .woocommerce-info a.button,
	.woocommerce .woocommerce-message a.button {
		padding:18px 25px;		
	}
	
	.woocommerce a.remove {
		background-color:var(--global--color-alert-error);
		color:var(--button--color-text) !important;
		line-height:24px;
		border-radius:4px;
	}
	
	.woocommerce a.remove:hover {
		background-color:#f00;
	}
	
	/* Select */
	.select2-container--default .select2-selection--single {
		border:1px solid var(--global--color-border);
		border-radius:0px;
		height:44px;
	}
	
	.select2-container .select2-selection--single .select2-selection__rendered {
		padding-top:8px;
		padding-bottom:8px;
		padding-left:15px;
	}
	
	.select2-container--default .select2-selection--single .select2-selection__arrow {
		top:9px;
	}
	
	/* Login */	
	.page-id-67:not(.logged-in) .page-heading {
		display:none;
	}
	
	.page-id-67:not(.logged-in) #woocommerce-my-account-wrapper {
		border:none;
		flex-direction:column;
		align-items:center;
	}
	
	.page-id-67:not(.logged-in) #woocommerce-my-account-wrapper h2 {
		font-size:var(--heading--font-size-h1);
		line-height:var(--heading--line-height-h1);
		letter-spacing:var(--heading--letter-spacing-h1);
		padding:0 0 40px 0;
		font-weight:bold;
	}
	
	.woocommerce form.checkout_coupon, 
	.woocommerce form.login, 
	.woocommerce form.register {
		border:1px solid var(--global--color-border);
		margin:0 0 45px 0;
		border-radius:0px;
	}
	
	.woocommerce .woocommerce-form-login .woocommerce-form-login__submit {
		padding:18px 25px;
	}
	
	.woocommerce-LostPassword {
		font-size:var(--global--font-size-xs);
	}
	
	.woocommerce-LostPassword a {
		color:var(--global--color-tertiary);
	}
	
	.woocommerce-LostPassword a:hover {
		color:var(--global--color-secondary);
		text-decoration:none;
	}
	
	.woocommerce .woocommerce-form-login .woocommerce-form-login__rememberme {
		display: inline-flex;
		align-items: center;
		height:54px;
	}
	
	.woocommerce .woocommerce-form-login .woocommerce-form-login__rememberme input {
		margin:0 5px 0 0;
	}
	
	.woocommerce .woocommerce-form-login .woocommerce-form-login__rememberme span {
		font-size:var(--global--font-size-xs);
	}
	
	/* My Account */
	#woocommerce-my-account-wrapper {
		border:1px solid var(--global--color-border);
		display:flex;
		
	}
	
	.woocommerce-account .woocommerce-MyAccount-navigation {
		float:none;
		width:250px;
		border-right:1px solid var(--global--color-border);
	}
	
	.woocommerce-MyAccount-navigation ul {
		padding:0;
	}
	
	.woocommerce-MyAccount-navigation ul li {
		list-style-type:none;		
		border-bottom:1px solid var(--global--color-border);
	}
	
	.woocommerce-MyAccount-navigation ul li a {
		display:block;
		padding:10px 15px;
	}
	
	.woocommerce-MyAccount-navigation ul li a:hover,
	.woocommerce-MyAccount-navigation ul li.is-active a {
		text-decoration:none;
		color:var(--button--color-text);
		background-color:var(--button--color-background); 
	}
	
	.woocommerce-MyAccount-navigation ul li:last-child {
		border:none;
	}
	
	.woocommerce-account .woocommerce-MyAccount-content {
		flex:1;
		width:auto;
		float:none;
		padding:20px 20px;
	}
	
	.woocommerce-account .addresses {
		margin:45px 0 0 0;
	}
	
	.woocommerce-account .addresses .title {
		margin: 0 0 15px 0;
	}	
	
	.woocommerce-account .addresses .title h3 {
		font-weight:bold;
		font-size: var(--heading--font-size-h4);
		letter-spacing: var(--heading--letter-spacing-h4);
		line-height: var(--heading--line-height-h4);
	}
	
	.woocommerce-account .addresses .title .edit {
		color:var(--button--color-text);
		background-color:var(--button--color-background); 
		border-radius:var(--button--border-radius);
		font-size:var(--global--font-size-sm);
		padding:4px 10px;
	}
	
	.woocommerce-account .addresses .title .edit:hover {
		text-decoration:none;
		background-color:var(--global--color-secondary-hover); 
	}
	
	.woocommerce-account address {
		font-style:normal;
		margin: 0 0 45px 0;
	}
	
	@media( max-width:991px ) {
		.woocommerce .woocommerce-MyAccount-content .col2-set .col-1,
		.woocommerce-page .woocommerce-MyAccount-content .col2-set .col-1,
		.woocommerce .woocommerce-MyAccount-content .col2-set .col-2,
		.woocommerce-page .woocommerce-MyAccount-content .col2-set .col-2 {
			float:none;
			width:100%;
			margin: 0 0 45px 0;
		}
	}
	
	@media( max-width:767px ) {
		#woocommerce-my-account-wrapper {
			flex-direction:column;	
		}
		
		.woocommerce-account .woocommerce-MyAccount-navigation {		
			width:auto;
			flex:1;
		}
		
		.woocommerce-MyAccount-navigation ul li:last-child {
			border-bottom:10px solid var(--global--color-background-dark);
		}
	}
	
	/* Archive - Content Product */
	.woocommerce .woocommerce-breadcrumb {
		margin:0 0 45px 0;
	}
	
	.vendor-archive-header {
		margin: 0 0 9px 0;
	}
	
	.vendor-archive-header-top {
		display:flex;
		margin:0 0 20px 0;	
		align-items:center;
	}
	
	.vendor-archive-avatar {
		width:100px;
		height:100px;
		margin:0 20px 0 0;
		border-radius:100px;
		background-size:cover;
		background-position:center;
		background-repeat:no-repeat;
	}
	
	.vendor-archive-header-top-content {
		flex:1;
	}
	
	.vendor-archive-name h1 {
		font-size:var(--heading--font-size-h3);	
		font-weight:bold;
		margin: 0 0 7px 0;
	}
	
	.vendor-archive-rating {
		
	}
	
	.woocommerce .vendor-archive-rating .star-rating {
		font-size:13px;
		width:69px;
	}
	
	.vendor-archive-rating small {
		display:none !important;
	}
	
	.vendor-archive-rating span {
		color:var(--global--color-secondary);
	}
	
	.vendor-archive-header-bottom {
		margin:0 0 40px 0;
	}
	
	.vendor-archive-description {
		font-size:var(--heading--font-size-h4);
	}
	
	.woocommerce-archive-content-wrapper {
		display:flex;
		margin: 0 0 77px 0;
	}
	
	.woocommerce-sidebar-wrapper {
		width:170px;
		margin:0 60px 0 0;
	}
	
	.woocommerce-sidebar-header {
		font-size:var(--heading--font-size-h4);
		font-weight:bold;
		height:51px;
		display:flex;
		align-items:center;
		margin: 0 0 26px 0;
	}
	
	.woocommerce-archive-content {
		flex:1;		
		margin:0 0 31px 0;
	}
	
	.woocommerce-archive-content-header {
		display:flex;
		justify-content:space-between;
		align-items:center;
		margin: 0 0 45px 0;
	}
	
	.woocommerce-archive-content-header-left {
		font-size:var(--heading--font-size-h4);
		font-weight:bold;
	}
	
	.woocommerce .woocommerce-ordering {
		margin:0;
	}
	
	.filter-toggler {
		height:51.4px;
		width:51.4px;
		margin:0 0 0 10px;
		background-color:var(--button--color-background);
		color:var(--button--color-text);
		cursor:pointer;		
		align-items:center;
		justify-content:center;
		display:none;
	}
	
	.filter-toggler svg {
		width:32px;
		stroke:#ffffff;
		fill:var(--button--color-background);
	}
	
	#woocommerce-wrapper .woocommerce-archive-content ul.products {
		margin:0 -15px;	
		justify-content:flex-start;
	}
	
	#woocommerce-wrapper .woocommerce-archive-content ul.products li.product {
		width:25%;
	}
	
	#woocommerce-wrapper .woocommerce-archive-content ul.products li.product a img {
		margin: 0 0 1em 0
	}
	
	#woocommerce-wrapper .woocommerce-archive-content ul.products li.product {
		margin: 0 0 calc(var(--global--spacing-vertical) * 3 ) 0;
	}	
	
	@media( max-width:767px ) {
		.woocommerce-archive-content-wrapper {
			flex-direction:column;	
		}
		
		.woocommerce-archive-content-header-left {
			display:none;
		}
		
		.woocommerce-archive-content-header-right {
			display:flex;
			align-items:center;
			justify-content:flex-end;
			flex:1;
		}
		
		.woocommerce-sidebar-wrapper {
			position:fixed;
			top:0;
			right:-100%;
			width:100%;
			height:100%;
			z-index:1000;			
			margin:0;	
			transition:all 0.4s ease 0s;
		}
		
		.woocommerce-sidebar-inner {
			max-width:280px;
			width:80vw;
			height:100%;
			background-color:#fff;
			box-shadow:0 0 25px #888;
			padding:15px;
			overflow-y:scroll;
			position:absolute;
			right:0;
			top:0;			
		}
		
		.woocommerce-archive-content-wrapper.open .woocommerce-sidebar-wrapper {
			right:0;
		}
		
		.admin-bar .woocommerce-sidebar-inner {
			padding:61px 15px 15px 15px;
		}
		
		.woocommerce-sidebar-header {
			line-height:28px;
			height:31px;
			margin:0 0 20px 0;
			display:flex;
			align-items:center;
			justify-content:space-between;
		}
		
		.filter-toggler {
			display:flex;
		}
	}
	
	@media( max-width:576px ) {
		.woocommerce-archive-content-header-right .woocommerce-ordering {
			flex:1;
		}
		
		.woocommerce-archive-content-header-right .woocommerce-ordering select {
			width:100%;
		}
	}
	
	@media( max-width:481px ) {
		.filter-toggler {
			width:47.5px;
			height:47.5px;
		}
	}
	
	/* Archive - Content Product - Product List */
	.woocommerce ul.products {
		margin:0 -15px;
		display:flex;
		flex-wrap:wrap;
		justify-content:center;
	}

	.woocommerce ul.products li.product {
		margin:0 0 30px 0;	
	}
	
	.woocommerce.columns-5 ul.products li.product {
		width:20%;
	}
	
	@media( max-width:991px ) {
		.woocommerce.columns-5 ul.products li.product,
		#woocommerce-wrapper .woocommerce-archive-content ul.products li.product {
			width:33.33333333%;
		}
	}
	
	@media( max-width:768px ) {
		.woocommerce.columns-5 ul.products li.product,
		#woocommerce-wrapper .woocommerce-archive-content ul.products li.product {
			width:50%;
		}
	}
	
	@media( max-width:576px ) {
		.woocommerce.columns-5 ul.products li.product,
		#woocommerce-wrapper .woocommerce-archive-content ul.products li.product {
			width:100%;
		}
	}
	
	.woocommerce-product-column {
		padding:0 15px;
	}

	.woocommerce-vendor-wrapper {
		text-align:center;
		letter-spacing:1px;
		text-transform:uppercase;	
		font-size:var(--global--font-size-sm);	
		margin:0 0 2px 0;
	}
	
	.woocommerce-vendor-wrapper a {
		color:#888888;
	}
	
	.woocommerce-vendor-wrapper a:hover {
		color:var(--global--color-secondary);
	}
	
	.woocommerce-title-wrapper {
		text-align:center;		
		margin:0 0 2px 0;	
	}
	
	.woocommerce-title-wrapper h3 {
		font-weight:bold;			
	}
	
	.woocommerce ul.products li.product .woocommerce-title-wrapper h3 {
		 padding:0;
	}
	
	.woocommerce-rating-wrapper {
		text-align:center;
	}
	
	.woocommerce .products .star-rating {
		margin:0 0 2px 0;	
	}
	
	.woocommerce .star-rating,
	.woocommerce ul.products li.product .star-rating,
	.woocommerce #woocommerce-wrapper ul.products li.product .star-rating {
		font-size:13px;
		width:69px;
	}
	
	.woocommerce .products .woocommerce-rating-wrapper .star-rating {
		display:inline-block;
	}
	
	.woocommerce-rating-wrapper span:before,
	.star-rating span:before {
		color:var(--global--color-secondary);
	}
	
	.woocommerce-price-wrapper {
		text-align:center;
		font-weight:bold;	
		margin-bottom:20px;
	}
	
	.woocommerce-Price-amount {
		font-size:var(--global--font-size-md);
	}
	
	ins {
		color:var(--global--color-alert-success);
		text-decoration:none;
	}
	
	.woocommerce ul.products li.product .onsale,
	.woocommerce span.onsale {
		background-color:var(--button--color-background);
		color:var(--button--color-text);
		border:none;
		right:initial;
		left:50%;
		transform:translateX(-50%);
		top:0;
		margin:-28px 0 0 0;
		width:56px;
		height:56px;
		font-size:var(--global--font-size-sm);
		padding:0;
		line-height:56px;
		text-transform:uppercase;
	}
	
	/* Single - Content Single Product - General */
	.woocommerce div.product div.summary {
		margin:0 0 45px 0;
	}
	
	.woocommerce-single-product-wrapper {
		margin:0;
	}
	
	.woocommerce.single-product .entry.product {
		margin-top:0;
	}
	
	.woocommerce.single-product .entry.product > .onsale {
		left:15px;
		transform:none;
	}
	
	.woocommerce div.product .product_title {
		font-size:var(--heading--font-size-h2);
		font-weight:bold;
		margin:0 0 10px 0;
	}
	
	.woocommerce div.product .woocommerce-product-rating {
		font-size:var(--global--font-size-sm);
		display:flex;
		align-items:center;
		margin:0;		
	} 	
	
	.woocommerce div.product .woocommerce-product-rating a {
		color:var(--global--color-tertiary);
	}
	
	.woocommerce div.product .woocommerce-product-rating a:hover {
		color:var(--global--color-secondary);
		text-decoration:none;
	}
	
	.woocommerce div.product .woocommerce-product-rating .star-rating {
		margin:0 10px 0 0;
		float:none;
	}
	
	.woocommerce div.product p.price, 
	.woocommerce div.product span.price {
		color:var(--global--color-foreground);
		font-weight:bold;
		margin:0 0 20px 0;
		padding:0;
	}
	
	.woocommerce div.product p.price del, 
	.woocommerce div.product span.price del {
		opacity:1;
	}
	
	.woocommerce div.product p.price .woocommerce-Price-amount , 
	.woocommerce div.product span.price .woocommerce-Price-amount {
		font-size:var(--heading--font-size-h4);
	}
	
	.woocommerce div.product .woocommerce-product-details__short-description {
		margin:0 0 20px 0;
		padding:0 0 3px 0;
		border-bottom:2px solid var(--global--color-border);
	}
	
	.woocommerce div.product .woocommerce-product-details__short-description p {
		margin: 0 0 15px 0;
	}
	
	.woocommerce div.product form.cart div.quantity {
		margin:0;
	}
	
	.woocommerce div.product form.cart div.quantity input[type=number] {
		border:var(--form--border-width) solid var(--global--color-primary);
		width:70px;
		height:54px;
		padding:0;
	}
	
	.woocommerce div.product form.cart {
		margin: 0 0 20px 0;
	}
	
	.woocommerce div.product form.cart .button {
		padding:16px 25px;
		border-top-left-radius:0px;
		border-bottom-left-radius:0px;
		color: var(--button--color-text);
		background-color: var(--button--color-background);
	}
	
	.woocommerce div.product form.cart .button:hover {
		background-color: var(--button--color-background-hover);
	}
	
	.wcpv-sold-by-single {
		font-size:var(--global--font-size-xs);
		color:var(--global--color-foreground);
		font-weight:bold;
		margin:0 0 5px 0;
	}
	
	.product_meta {
		font-size:var(--global--font-size-xs);
		color:var(--global--color-foreground);
		font-weight:bold;
	}
	
	.wcpv-sold-by-single a:hover,
	.product_meta a:hover {
		text-decoration:none;
	}
	
	/* Single - Content Single Product - Tabs */
	.woocommerce div.product .woocommerce-tabs {
		margin:0 0 45px 0;
	}
	
	.woocommerce div.product .woocommerce-tabs ul.tabs {
		padding:0;
	}
	
	.woocommerce div.product .woocommerce-tabs ul.tabs {
		margin:0;	
	}
	
	.woocommerce div.product .woocommerce-tabs ul.tabs:before {
		border-bottom:2px solid var(--global--color-border);
	}
	
	.woocommerce div.product .woocommerce-tabs ul.tabs li {
		border-radius:0px;
		border:2px solid var(--global--color-border);
		background-color:var(--global--color-border);
		margin:0;
		padding:0 15px;
	}
	
	.woocommerce div.product .woocommerce-tabs ul.tabs li:after,
	.woocommerce div.product .woocommerce-tabs ul.tabs li:before {
		display:none;
	}
	
	.woocommerce div.product .woocommerce-tabs ul.tabs li a {
		font-size:var(--global--font-size-sm);
	}
	
	.woocommerce div.product .woocommerce-tabs .panel {
		padding:25px 15px;
		background-color:#ffffff;
		font-size:var(--global--font-size-sm);
		border-bottom:2px solid var(--global--color-border);
		border-left:2px solid var(--global--color-border);
		border-right:2px solid var(--global--color-border);
	}
	
	.woocommerce div.product .woocommerce-tabs .panel h2 {
		font-size:var(--heading--font-size-h4);
		font-weight:bold;
		margin:0 0 20px 0;
	}
	
	.woocommerce div.product .woocommerce-tabs .panel p {
		margin: 0 0 15px 0;
	}
	
	/* Single - Content Single Product - Tabs - Table */
	.woocommerce table.shop_attributes th,
	.woocommerce table.shop_attributes td {
		border:none;
		border-bottom:1px solid var(--global--color-border);
	}
	
	.woocommerce table.shop_attributes th {
		background-color:var(--global--color-border);
	}
	
	.woocommerce table.shop_attributes td {
		padding:8px;
		font-style:normal;
	}
	
	.woocommerce table.shop_attributes tr:nth-child(2n) th {
		background-color:var(--global--color-background-dark);
	}
	
	.woocommerce table.shop_attributes tr:nth-child(2n) td {
		background-color:transparent;
	}
	
	.woocommerce table.shop_attributes p {
		margin: 0 0 15px 0;
	}
	.woocommerce table.shop_attributes p {
		margin: 0 0 15px 0;
	}
	
	.woocommerce div.product .woocommerce-tabs .panel table.shop_attributes p {
		margin:0;
	}
	
	/* Single - Content Single Product - Tabs - Review */
	.comments-title, .comment-reply-title {
		font-size:var(--heading--font-size-h4);
		font-weight:bold;
		font-style:normal;
	}
	
	.comment-form {
		margin: 0 0 20px 0;
	}
	
	.woocommerce #reviews #comments ol.commentlist {
		padding:0;
		margin: 0 0 20px 0;
	}
	
	.woocommerce #reviews #comments ol.commentlist li .comment-text {
		border-radius:0px;
	}
	
	.woocommerce #reviews #comment {
		height:200px;
	}
	
	.comment-form-rating a {
		color:var(--global--color-secondary);
	}
	
	.woocommerce #review_form #respond p.form-submit {
		margin:0;
	}
	
	/* Single - Content Single Product - Related Products */
	.related.products h2 {
		font-size:var(--heading--font-size-h4);
		font-weight:bold;
		margin: 0 0 45px 0;
	}
	
	#woocommerce-wrapper div.product .related.products  ul.products {
		margin:0 -15px;
	}
	
	.woocommerce ul.products.columns-4 li.product {
		width:25%;
	}
	
	.woocommerce #woocommerce-wrapper ul.products li.product a img {
		margin: 0 0 1em 0;
	}
	
	@media( max-width:767px ) {
		.woocommerce ul.products.columns-4 li.product {
			width:50%;
		} 
	}
	
	@media( max-width:576px ) {
		.woocommerce ul.products.columns-4 li.product {
			width:100%;
		} 
	}
	
	/* Woocommerce Paging */
	.woocommerce nav.woocommerce-pagination {
		text-align:left;
	}
	
	.woocommerce nav.woocommerce-pagination ul {
		border:none;
	}
	
	.woocommerce nav.woocommerce-pagination ul li {
		border:none;
	}
	
	.woocommerce nav.woocommerce-pagination ul li a,
	.woocommerce nav.woocommerce-pagination ul li span {
		padding:11px 11px;
		min-width:40px;
		border:none;
		margin-right:0;
	}
	
	.woocommerce nav.woocommerce-pagination ul li a:focus, 
	.woocommerce nav.woocommerce-pagination ul li a:hover, 
	.woocommerce nav.woocommerce-pagination ul li span.current {
		color:var(--button--color-text);
		background-color:var(--button--color-background); 
	}
	
	/* Cart */	
	.woocommerce-cart table.cart img {
		width:48px;
	}
	
	.woocommerce #content table.cart td.actions .input-text, 
	.woocommerce table.cart td.actions .input-text, 
	.woocommerce-page #content table.cart td.actions .input-text, 
	.woocommerce-page table.cart td.actions .input-text {
		width:150px;
		padding:4px 15px 3px;
		line-height:32px;
		margin:0 13px 0 0;
		border-radius:4px;
	}	
	
	.woocommerce td.product-name dl.variation dt {
		font-weight:700;
	}
	
	.woocommerce td.product-name .wc-item-meta, 
	.woocommerce td.product-name dl.variation,
	.woocommerce td.product-name dl.variation em {
		font-size:var(--global--font-size-xs);
		color:var(--global--color-foreground);
		font-weight:bold;
	}
	
	.woocommerce td.product-name dl.variation a:hover {
		text-decoration:none;
	}
	
	.woocommerce #content table.cart td.actions, 
	.woocommerce table.cart td.actions, 
	.woocommerce-page #content table.cart td.actions, 
	.woocommerce-page table.cart td.actions {
		padding:13px 0;
	}
	
	.cart_totals h2 {
		font-size:var(--heading--font-size-h3);
		line-height:var(--heading--line-height-h3);
		font-weight:bold;
		margin:0 0 15px 0;
	}
	
	.cart_totals table.shop_table th {
		background-color:transparent;
		border:none;
		padding-left:0;
	}
	
	.woocommerce-cart .wc-proceed-to-checkout {
		text-align:right;
	}
	
	.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
		display:inline-block;
	}
	
	#add_payment_method .wc-proceed-to-checkout a.checkout-button, 
	.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
	.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button {
		font-size:var(--global--font-size-root);
	}
	
	/* Checkout */
	.woocommerce-billing-fields__field-wrapper {
		margin: 0 0 45px 0;
	}
	
	#add_payment_method #payment, 
	.woocommerce-cart #payment,
	.woocommerce-checkout #payment {
		background:var(--global--color-border);
		border-radius:0px;
	}
	
	.cart-subtotal th,
	.order-total th {
		background-color:transparent;
		border:none;
		padding-left:0;
	}
	
	/* Widget */
	.woocommerce-widget-title {
		font-weight:bold;
		margin: 0 0 16px 0;
	}
	
	.widgetSidebar {
		margin: 0 0 45px 0;
	}
	
	/* Widget - Price Filter */	
	.woocommerce .widget_price_filter {
		margin:10px 0 0 0;
	}
	
	.woocommerce .widget_price_filter .woocommerce-widget-title {
		margin: 0 0 20px 0;
	}
	
	.woocommerce .widget_price_filter .ui-slider {
		margin-right:0px;
		margin-bottom:0px;
	}
	
	.woocommerce .widget_price_filter .ui-slider-horizontal {
		height:6px;
	}
	
	.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
		background-color:#888;
	}
	
	.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
		background-color:var(--button--color-background); 
	}
	
	.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
		width:14px;
		height:14px;
		background-color:var(--button--color-background); 
		top:-4px;
	}
	
	.woocommerce .widget_price_filter .price_label {
		display:flex;
		justify-content:space-between;
		font-size:var(--global--font-size-sm);	
		margin: 0 0 10px 0;
	}
	
	.woocommerce .widget_price_filter .price_slider_amount .button {
		font-size: var(--global--font-size-sm);
		transition:all 0.2s ease 0s;
	}
	
	.woocommerce .widget_price_filter .price_slider_amount .button:hover {	
		color: var(--button--color-text-hover);
		background-color: var(--button--color-background-hover);
	}
	
	/* Widget - Rating */
	.woocommerce .widget_rating_filter {
		font-size: var(--global--font-size-sm);
	}
	
	.woocommerce .widget_rating_filter ul li a {
		position:relative;
	}
	
	.woocommerce .widget_rating_filter ul li.chosen a:before {
		position:absolute;
		right:-20px;
		margin:0;
		top:4px;
	}
	
/* PLUGIN - WOOCOMMERCE BLOCKS */
	.wc-block-grid__products {
		margin:0 -15px 30px;	
		position:relative;
	}

	.wc-block-grid__product {
		border-left:15px solid transparent;
		border-right:15px solid transparent;	
		border-bottom:45px solid transparent;
	}
	
	.theme-twentytwenty .wc-block-grid.has-5-columns .wc-block-grid__product, 
	.theme-twentytwenty .wc-block-grid.has-6-columns.alignfull .wc-block-grid__product, 
	.wc-block-grid.has-5-columns .wc-block-grid__product, 
	.wc-block-grid.has-6-columns.alignfull .wc-block-grid__product {
		font-size:var(--global--font-size-base);
	}
	
	#content .wc-block-grid .wc-block-grid__product-price {
		font-size:var(--global--font-size-base);	
		font-weight:bold;
	}
	
	#content .wc-block-grid .wc-block-grid__product .wc-block-grid__product-onsale {
		background-color:var(--button--color-background);
		color:var(--button--color-text);
		border:none;
		right:initial;
		left:50%;
		transform:translateX(-50%);
		top:0;
		margin:-29px 0 0 0;
	}
	
	.wc-block-grid__product-link:hover {
		text-decoration:none;
	}

/* PLUGIN - GUTENSLIDER */
	.wp-block-eedee-block-gutenslider.content-change,
	.swiper-slide {
		height:600px !important;
	}

	.wp-block-eedee-block-gutenslider.content-change {
		margin-bottom:60px;
	}

	.wp-block-eedee-block-gutenslider .swiper-wrapper {
		
	}

	.wp-block-eedee-block-gutenslider .wp-block-eedee-block-gutenslide.is-position-center-center .slide-content {
		align-items: flex-start !important;
		justify-content: flex-end !important;		
	}

	.slide-content > * {
		margin-bottom:25px;
	}

	.slide-content > *:last-child {
		margin-bottom:0;
	}

	.wp-block-eedee-block-gutenslider .swiper-container {
		border-radius: 6px;		
		overflow: hidden;
	}

	.wp-block-eedee-block-gutenslider .wp-block-eedee-block-gutenslide .eedee-background-div:after {
		content:'';
		position:absolute;
		width:100%;
		height:100%;
		top:0;
		left:0;
		background-color: rgba(0,0,0,0.5);
	}

	.wp-block-eedee-block-gutenslider .wp-block-button__link {
		font-size:var(--global--font-size-xs);
	}

	.wp-block-eedee-block-gutenslider.dot-position-bottom .eedee-gutenslider-pagination {
		bottom:-45px !important;
	}

	.wp-block-eedee-block-gutenslider .swiper-pagination-bullet {
		background-color: #dddddd !important;
		opacity:1 !important;
		transition:all 0.2s ease 0s;
	}

	.wp-block-eedee-block-gutenslider .swiper-pagination-bullet:hover,
	.wp-block-eedee-block-gutenslider .swiper-pagination-bullet-active {
		background-color:var(--global--color-primary) !important;
	}
	
/* PLUGIN - A Z LISTING */
	.az-letters > ul.az-links > li, 
	.a-z-listing-widget .az-letters > ul.az-links > li,
	.a-z-listing-widget.widget .az-letters > ul.az-links > li {
		width:2em;
		height:1.9em;				
	}

	.az-letters > ul.az-links > li a,
	.a-z-listing-widget .az-letters > ul.az-links > li a,
	.a-z-listing-widget.widget .az-letters > ul.az-links > li a {
		color:var(--global--color-foreground);
	}
	
	.az-letters > ul.az-links > li:not(.no-posts) {
		transition:all 0.2s ease 0s;
		cursor:pointer;
	}
	
	.az-letters > ul.az-links > li:not(.no-posts):hover {
		border-color:var(--global--color-primary);
		background-color:var(--global--color-primary);
	}
	
	.az-letters > ul.az-links > li:not(.no-posts):hover a {
		color:#ffffff;
	}

/* CUSTOM CLASSES */
	.center {
		margin:0 auto;	
	}
	
	.featured {
		margin-bottom:62px;	
	}
	
	.featured .wp-block-column h2 {
		margin:0 0 5px 0;
	}
	
	.featured .wp-block-column hr {
		margin:0 0 15px 0;
	}
	
	.featured .wp-block-column p {
		margin: 0 0 34px 0;
	}
	
	.featured img {
		box-shadow:0 0 10px rgba(27,32,50,0.3);
		transition:opacity 1s,transform 1s;
	}
	
	.featured img:hover {
		opacity: .9;
		transform: scale3d(1.1,1.1,1);
	}
	
	@media( max-width:991px ) {
		.featured.featured-left.wp-block-columns .wp-block-column:first-child {
			margin:0;
		}
		
		.featured.featured-left.wp-block-columns .wp-block-column:last-child {
			margin: 0 0 30px 0;
		}
		
		.featured-left > .wp-block-column:first-child {
			order:1;
		}
	}
	
	.cover ul {
		padding:0;
	}
	
	.cover li {
		padding:0 0 0 43px;
		position:relative;
		list-style-type:none;
		margin:0 0 8px 0;
	}
	
	.cover li:before {
		content:"\f058";
		font-family:"Font Awesome 5 Free";
		font-weight:900;
		position:absolute;
		left:0;
		top:5px;
		font-size:var(--heading--font-size-h4);
	}
	
	.white-background {
		background-color:#ffffff;
		padding:4% 5%;
	}
	
	.letterspacing {
		letter-spacing:2px;
	}
	
	.address,
	.tel,
	.map {
		position:relative;
		padding:0 0 0 40px;	
	}
	
	.wp-block-columns .wp-block-column > .map {
		margin-bottom:40px;
	}
	
	.address:before,
	.tel:before,
	.map:before {
		position:absolute;
		left:0;
		top:2px;
		width:24px;
		height:24px;
		content:'';
		background-color:var(--global--color-primary);		
		mask-size: 100% 100%;
		-webkit-mask-size: 100% 100%;
	}

	.wp-block-column.has-primary-background-color .address:before, 
	.wp-block-column.has-primary-background-color .tel:before,
	.wp-block-column.has-primary-background-color .map:before {
		background-color:#fff;
	}
	
	.address:before {
		mask-image:url(img/envelope.svg);	
		-webkit-mask-image:url(img/envelope.svg);		
	}
	
	.tel:before {
		mask-image:url(img/phone.svg);		
		-webkit-mask-image:url(img/phone.svg);				
	}
	
	.map:before {
		mask-image:url(img/location.svg);	
		-webkit-mask-image:url(img/location.svg);				
	}	
	
/* WIDGET */
	.widget-wrapper {
		margin-bottom:50px;
	}

	.widget-separator {
		width:100%;
		height:1px;
		background-color: var(--global--color-primary);
	}

	.widget-title {
		margin-bottom:26px;
	}

	.content-right img,
	.widget-wrapper img {
		border-radius:6px;
		margin-bottom:40px;
	}
	
	.content-right .std-button,
	.widget-wrapper .std-button {
		display:inline-block;
		min-width:200px;
	}

	.textwidget h1,
	.textwidget h2,
	.textwidget h3,
	.textwidget h4,
	.textwidget h5,
	.textwidget h6 {
		color:var(--global--color-primary);
		margin-bottom:15px;
	}
	
/* CPT */
	/* General */
	.section {
		margin-bottom:60px;
	}
	
	.section-title h3 {
		margin-bottom:10px;
	}
	
	.section-content a {
		display:block;
	}
	
	.post-content-wrapper {
		background-color:#ffffff;
		padding:50px 50px;
		border-bottom: 2px solid var(--global--color-primary);
		border-radius:6px 6px 0 0;
	}
	
	@media( max-width:991px ) {
		.post-content-wrapper {
			padding:25px 25px;
		}
	}
	
	@media( max-width:767px ) {
		.post-content-wrapper {
			padding:25px 15px 50px 15px;
		}
	}

	/* Flexslider */
	.flexslider {
		border:none;
		border-radius:0;
		background-color:transparent;
		margin:0;
	}
	
	.flexslider:hover .flex-direction-nav .flex-prev,
	.flexslider:hover .flex-direction-nav .flex-next {
		opacity:1;
	}
	
	.flex-direction-nav a {
		background-color:var(--global--color-primary);
		height:60px;
		margin-top:-30px;
		opacity:1;
	}
	
	.flex-direction-nav a:hover {
		background-color:var(--global--color-primary-hover);
	}
	
	.flex-direction-nav a:before {		
		border: solid #ffffff;
		border-width: 0 4px 4px 0;
		padding: 8px;
		transition: all 0.2s ease 0s;
		top:50%;
		left:50%;
		position:absolute;	
	}
	
	.flex-direction-nav a.flex-prev {
		border-radius:3px 6px 6px 3px;
	}
	
	.flex-direction-nav a.flex-next {
		border-radius:6px 3px 3px 6px;
	}
	
	.flex-direction-nav a.flex-prev:before {
		content:'';
		transform: translate(-50%,-50%) rotate(135deg);	
		margin-left:5px;
	}
	
	.flex-direction-nav a.flex-next:before {
		content:'';
		transform: translate(-50%,-50%) rotate(315deg);	
		margin-left:-5px;
	}
	
	.nav-inside .flex-direction-nav .flex-prev,
	.flexslider.nav-inside:hover .flex-direction-nav .flex-prev{
		left:-6px;
	}
	
	.nav-inside .flex-direction-nav .flex-next,
	.flexslider.nav-inside:hover .flex-direction-nav .flex-next {
		right:-6px;
	}
	
	/* Single - ABCs of Philatey */
	#collection-image-thumbnail-slider {
		margin-top:5px;
	}
	
	#collection-image-slider ul.slides > li {
		width:100%;
		height:400px;	
		background-size:cover;	
		background-repeat:no-repeat;
		background-position:center;
		border-radius:6px;
	}
	
	#collection-image-thumbnail-slider ul.slides > li {
		width:20%;
		height:100px;
		background-size:cover;
		background-repeat:no-repeat;
		background-position:center;
		cursor:pointer;
		position:relative;
		border:2px solid transparent;
		transition:all 0.2s ease 0s;
		border-radius:6px;
	}
	
	/*#collection-image-thumbnail-slider ul.slides > li:before {
		content:'';
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background-color:rgba(0,0,0,0.2);
		transition:all 0.2s ease 0s;
	}
	
	#collection-image-thumbnail-slider ul.slides > li:hover:before {
		background-color:rgba(0,0,0,0);
	}*/
	
	#collection-image-thumbnail-slider ul.slides > li.flex-active-slide {
		border:2px solid var(--global--color-primary);
	}
	
	
	
	