/* 
 * Table of contents:
 * 1. General
 * 2. Metabox
 */
 
/* GENERAL */
	.wp-core-ui select {
		border-radius:0px;
	}
	
	.components-custom-select-control__item .components-custom-select-control__item-hint {
		margin-left:10px;
	}
	
	.components-placeholder__fieldset .components-button {
		height:inherit;	
	}


/* METABOX */
	.postbox-header {
		border-bottom:4px solid var(--wp-admin-theme-color);
	}

	#poststuff h2.hndle {
		font-size:16px;
		line-height:26px;
		padding:5px 15px 5px 10px;
	}
	
	#poststuff .inside {
		margin:15px 0 0 0;
	}

	.metabox-row {
		margin:0 0 20px;	
		display:flex;
		flex-direction:column;
	}
	
	.metabox-row label {
		font-weight:bold;
		margin:0 0 5px 0;
	}
	
	.metabox-row select {
		max-width:300px;
		border:1px solid #efefef !important;
		border-radius:4px;
		padding:4px 24px 4px 8px;
	}
	
	.metabox-row > *:not(label) {
		margin-left:15px;
	}
	
	.metabox-description {
		margin-top:10px;
		font-style:italic;
		color:#666;
		max-width:500px;
	}
	
	.metabox-group {
		margin:0 0 40px;
	}
	
	.metabox-title {
		font-size:18px;
		margin:0 0 10px 0;
	}