/* 
 * Table of contents:
 * 1. General
 * 2. Extended Gutenberg Blocks
 */
	
/* GENERAL */
	.std-button {
		transition:all 0.2s ease 0s;
		padding:var(--button--padding-vertical) var(--button--padding-horizontal);
		color: var(--button--color-text);
		background-color: var(--button--color-background);
		cursor:pointer;
		font-weight: var(--button--font-weight);
		font-family: var(--button--font-family);
		font-size: var(--button--font-size);
		line-height:var(--button--line-height);		
		border-radius: var(--button--border-radius);
		border-width: 0;
		text-decoration: none;
		text-transform:uppercase;
	}
	
	.std-button:hover {
		color: var(--button--color-text-hover);
		background-color: var(--button--color-background-hover);	
	}
	/*
	[data-align="wide"] .block-editor-block-list__layout > * {
		max-width: 100% !important;		
		width:100%;
	}
	
	@media( min-width:576px ) {
		.block-editor-block-list__layout > *:not([data-align="full"]){
			max-width:510px;
		}
		
		.block-editor-block-list__layout > *:not([data-align="full"]).alignwide,
		.block-editor-block-list__layout [data-align="wide"] {
			max-width: 710px;
		}
	}
	
	@media( min-width:768px ) {
		.block-editor-block-list__layout > *:not([data-align="full"]) {
			max-width:690px;
		}
		
		.block-editor-block-list__layout > *:not([data-align="full"]).alignwide,
		.block-editor-block-list__layout [data-align="wide"] {
			max-width: 890px;
		}
	}
	
	@media( min-width:992px ) {
		.block-editor-block-list__layout > *:not([data-align="full"]) {
			max-width:930px;
		}
		
		.block-editor-block-list__layout > *:not([data-align="full"]).alignwide,
		.block-editor-block-list__layout [data-align="wide"] {
			max-width: 1130px;
		}
	}
	
	@media( min-width:1200px ) {
		.block-editor-block-list__layout > *:not([data-align="full"]) {
			max-width:1110px;
		}
		
		.block-editor-block-list__layout > *:not([data-align="full"]).alignwide,
		.block-editor-block-list__layout [data-align="wide"] {
			max-width: 1210px;
		}
	}
	
	@media( min-width:1400px ) {
		.block-editor-block-list__layout > *:not([data-align="full"]) {
			max-width:1190px;
		}
		
		.block-editor-block-list__layout > *:not([data-align="full"]).alignwide,
		.block-editor-block-list__layout [data-align="wide"] {
			max-width: 1390px;
		}
	}*/
	
	/*.has-background p {
		color:initial;
	}	
	
	.edit-post-meta-boxes-area .postbox {
		border:1px solid #888 !important;
	}
	
	[data-align="full"] .wp-block-group > .wp-block-group__inner-container > ul.wp-block {
		padding-left:36px;
	}
	
	.wp-block a,
	.editor-styles-wrapper .has-background:not(.has-background-background-color) a {
		color:var(--global--color-primary);
		border-bottom:none !important;
		text-decoration:none;	
		transition:all 0.2s ease 0s;	
	}
	
	.wp-block a:hover,
	.wp-block a:focus,
	.editor-styles-wrapper .has-background:not(.has-background-background-color) a:hover,
	.editor-styles-wrapper .has-background:not(.has-background-background-color) a:focus {
		color:var(--global--color-secondary);
	}
	
	ul, ol {
		font-family:var(--font1);
		line-height:1.7;
	}
	
	::selection {
		background-color:var(--global--color-secondary);
		color:#ffffff;
	}
	
	::-moz-selection {
		background-color:var(--global--color-secondary);
		color:#ffffff;
	}	*/
	
	/* Custom Classes */
	.primary-font {
		font-family:var(--global--font-primary);	
	}
	
	.secondary-font {
		font-family:var(--global--font-secondary);	
	}
	
	.center {
		margin:0 auto;
	}
	
/*	.cover ul {
		padding:0;
	}
	
	.cover li {
		padding:0 0 0 43px;
		position:relative;
		list-style-type:none;
		margin:0 0 8px 0;
	}
	
	.cover li:before {
		content:"\f058";
		font-family:"Font Awesome 5 Free";
		font-weight:900;
		position:absolute;
		left:0;
		top:5px;
		font-size:var(--heading--font-size-h4);
	}*/
	
	/*.wp-block-columns .wp-block-column > .address,
	.wp-block-columns .wp-block-column > .tel,
	.wp-block-columns .wp-block-column > .map {
		position:relative;
		padding:0 0 0 43px;
		margin-bottom:6px;
	}
	
	.wp-block-columns .wp-block-column > .map {
		margin-bottom:40px;
	}
	
	.address:before,
	.tel:before,
	.map:before {
		font-family:"Font Awesome 5 Free";
		font-weight:900;
		position:absolute;
		left:0;
		top:0;
		font-size:var(--h4);
		color:var(--global--color-primary);
	}
	
	.address:before {
		content:"\f015";		
	}
	
	.tel:before {
		content:"\f095";		
	}
	
	.map:before {
		content:"\f3c5";		
	}*/
	
	.address,
	.tel,
	.map {
		position:relative;
		padding:0 0 0 40px;	
	}
	
	.wp-block-columns .wp-block-column > .map {
		margin-bottom:40px;
	}
	
	.address:before,
	.tel:before,
	.map:before {
		position:absolute;
		left:0;
		top:2px;
		width:24px;
		height:24px;
		content:'';
		background-color:var(--global--color-primary);		
		mask-size: 100% 100%;
	}
	
	.address:before {
		mask-image:url(../img/envelope.svg);		
	}
	
	.tel:before {
		mask-image:url(../img/phone.svg);				
	}
	
	.map:before {
		mask-image:url(../img/location.svg);				
	}	
	
/* EXTENDED GUTENBERG BLOCKS */
	/* Heading */
	/*.separator {
		padding: 0 0 5px 0;
		border-bottom:1px solid #e7e6e6;
	}*/

	/* Column */
	/*.wp-block-columns .wp-block-column > * {
		margin-top:0;
	}
	
	.wp-block-column:not(:first-child) {
		margin-left:60px;
	}
	
	@media( max-width:1199px ) {
		.wp-block-column:not(:first-child) {		
			margin-left: 30px;
		}
	}
	
	@media( max-width:991px ) {
		.wp-block-column:not(:first-child) {
			margin-left:0px;
		}
	}*/

	/* Block Cover */
	/*.wp-block-cover .wp-block-cover__inner-container, 
	.wp-block-cover-image .wp-block-cover__inner-container {
		width: calc(100% - calc( 1 * var(--global--spacing-vertical)));
	}
	
	.wp-block-cover .wp-block-cover__inner-container, 
	.wp-block-cover .wp-block-cover-image-text, 
	.wp-block-cover .wp-block-cover-text, 
	.wp-block-cover-image .wp-block-cover__inner-container, 
	.wp-block-cover-image .wp-block-cover-image-text, 
	.wp-block-cover-image .wp-block-cover-text {
		margin-top:0;
	}
	
	@media( max-width:991px ) {
		.wp-block-cover .wp-column-block {
			width:100% !important;
		}
	}*/

	/* Image */
	/*.is-style-fit-container { height:100%; margin:0; }
	.is-style-fit-container .components-resizable-box__container { height:100% !important; }
	.is-style-fit-container img { width:100%; height:100%; object-fit:cover; }
	
	.is-style-rounded-border {
		position:relative;
		padding:25px !important;	
	}
	
	.is-style-rounded-border:before {
		content:'';
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background-color:#f00;
		background: rgb(100,198,173);
		background: -moz-linear-gradient(-45deg, rgba(100,198,173,1) 0%, rgba(19,173,234,1) 100%);
		background: -webkit-linear-gradient(-45deg, rgba(100,198,173,1) 0%,rgba(19,173,234,1) 100%);
		background: linear-gradient(135deg, rgba(100,198,173,1) 0%,rgba(19,173,234,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c6ad', endColorstr='#13adea',GradientType=1 );
		border-radius:50px;
	}
	
	.is-style-rounded-border img {
		position:relative;
		z-index:1;		
		border-radius:25px;
	}*/
	
	/* Separator */
	/*hr.wp-block-separator,
	hr.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
		background-color:#e7e6e6;
		border:none;
		max-width:100%;
		opacity:1;
		height:1px;
	}*/
	
	/* Paragraph */
	/*p.wp-block {
		margin-bottom: 33px;
	}*/
	
	/* Button */
	/*.std-button {
		transition:all 0.2s ease 0s;
		padding:var(--button--padding-vertical) var(--button--padding-horizontal);
		color: var(--button--color-text);
		background-color: var(--button--color-background);
		cursor:pointer;
		font-weight: var(--button--font-weight);
		font-family: var(--button--font-family);
		font-size: var(--button--font-size);
		line-height:var(--button--line-height);		
		border-radius: var(--button--border-radius);
		border-width: 0;
		text-decoration: none;
	}
	
	.std-button:hover {
		color: var(--button--color-text-hover);
		background-color: var(--button--color-background-hover);	
	}
	
	.alt-button a:hover,
	.alt-button a:focus {
		background-color:var(--global--color-primary);
	}*/
	
	/* Search */
	/*.wp-block-search .wp-block-search__label {
		font-weight:bold;
	}
	.wp-block-search .wp-block-search__input {
		border:1px solid var(--global--color-border);
	}
	
	.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper {
		background-color:var(--global--color-background);
		border:1px solid var(--global--color-border);
		padding:0;
	}
	
	.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__input {
		padding:10px 15px;
	}
	
	.wp-block-search .wp-block-search__button {
		border-radius:0px;
	}
	
	.wp-block-search .wp-block-search__button.wp-block-search__button.wp-block-search__button {
		padding:var(--button--padding-vertical) var(--button--padding-horizontal);
	}
	
	.wp-block-search .wp-block-search__button.has-icon {
		border-radius:0px;
		width:50px;
	}*/
	
	/* Quote */
	/*blockquote,
	.wp-block-quote {
		border-left:4px solid var(--global--color-primary);
		padding-top:10px;
		padding-bottom:10px;		
	}
	
	blockquote p,
	.wp-block-quote p {
		margin:0 0 5px 0;		
	}
	
	.wp-block-quote .wp-block-quote__citation, 
	.wp-block-quote cite, 
	.wp-block-quote footer {
		font-size:var(--global--font-size-sm);
		font-weight:700;
		font-style:italic;
	}*/