/* 
 * Table of contents: 
 * 1. Seedlet Global Vars
 * 2. General
 * 3. Extended Gutenberg Blocks
 * 4. Custom Classes
 */

/* SEEDLET GLOBAL VARS */
	:root {
		/* DEFAULT Width Container */		
		--responsive--aligndefault-width: min(calc(100vw - 2 * var(--global--spacing-horizontal)), 1290px );
		
		/* WIDE Container */
		--responsive--alignwide-width: min(calc(100vw - 2* var(--global--spacing-horizontal)), 1490px );
		
		
		--global--spacing-horizontal: 25px;
		--global--spacing-vertical: 25px;
			
		/* Font Family */
		--global--font-primary: var(--font-headings, 'Arial');
		--global--font-secondary: var(--font-base, 'Georgia');
		--global--font-code: monospace, monospace;
		--global--font-ui: var(--font-base, var(--global--font-primary));
		--global--font-weight: normal;
		
		/* Font Size */
		--global--font-size-root: 20px; /* default / p */
		--global--font-size-ratio: 1.2;
		--global--font-size-base: 1em;
		--global--font-size-xs: 15px; /* H6 */
		--global--font-size-sm: 18px; 
		--global--font-size-md: 20px; /* H5 */
		--global--font-size-lg: 25px; /* H4 */
		--global--font-size-xl: 30px; /* H3 */
		--global--font-size-xxl: 35px; /* H2 */
		--global--font-size-xxxl: 55px; /* H1 */
		--global--letter-spacing: normal;
		
		--global--line-height-base: 1; 
		--global--line-height-body: 1.5; 
		--global--line-height-heading: 1.5;
		
		--heading--font-family: var(--global--font-secondary);
		--heading--font-size-h6: var(--global--font-size-xs);
		--heading--font-size-h5: var(--global--font-size-md);
		--heading--font-size-h4: var(--global--font-size-lg);
		--heading--font-size-h3: var(--global--font-size-xl);
		--heading--font-size-h2: var(--global--font-size-xxl);
		--heading--font-size-h1: var(--global--font-size-xxxl);
		--heading--letter-spacing-h6: var(--global--letter-spacing); 
		--heading--letter-spacing-h5: var(--global--letter-spacing);
		--heading--letter-spacing-h4: var(--global--letter-spacing);
		--heading--letter-spacing-h3: var(--global--letter-spacing);
		--heading--letter-spacing-h2: var(--global--letter-spacing);
		--heading--letter-spacing-h1: var(--global--letter-spacing);
		--heading--line-height: 1.5;
		--heading--line-height-h6: 1.5; 
		--heading--line-height-h5: 1.5;
		--heading--line-height-h4: 1.5;
		--heading--line-height-h3: 1.5;
		--heading--line-height-h2: 1.5;
		--heading--line-height-h1: 1.5;
		--heading--font-weight: normal;
		--heading--font-weight-strong: 700;
		
		--entry-header--color: var(--global--color-secondary); /* Warna heading */
		--entry-header--color-link: var(--global--color-primary);
		--entry-header--color-hover: var(--global--color-primary-hover);
		--entry-header--color-focus: var(--global--color-primary-hover);
		--entry-header--font-family: var(--heading--font-family);
		--entry-header--font-size: var(--heading--font-size-h2);
		
		/* Colors */
		--global--color-primary: #008000; 
		--global--color-secondary: #333333; 
		--global--color-tertiary: #FF7900; 
		--global--color-primary-hover: #085508; 
		--global--color-secondary-hover: #085508; 
		--global--color-tertiary-hover: #CE6200;
		--global--color-black: black;
		--global--color-white: white;
		--global--color-foreground: #606060; /* Body text default */
		--global--color-foreground-low-contrast: #444444; 
		--global--color-foreground-high-contrast: #000000; 
		--global--color-background: #f5f5f5; /* Background page default */
		--global--color-background-dark: #333333;
		--global--color-border: #DDDDDD; 
		--global--color-text-selection: #008000;
		--global--color-alert-success: yellowgreen;
		--global--color-alert-info: skyblue;
		--global--color-alert-warning: gold;
		--global--color-alert-error: salmon;
		
		/* Menu */
		--primary-nav--font-family: var(--global--font-primary); /* Font */
		--primary-nav--font-family-mobile: var(--primary-nav--font-family); /* Font pas mobile */
		--primary-nav--font-size: var(--global--font-size-md); /* Font size */
		--primary-nav--font-size-mobile: var(--global--font-size-xs); /* Font size pas mobile */
		--primary-nav--font-size-sub-menu-mobile: var(--global--font-size-xsmd); 
		--primary-nav--font-style: normal;
		--primary-nav--font-style-sub-menu-mobile: normal;
		--primary-nav--font-weight: normal;
		--primary-nav--line-height: var(--global--line-height-body);
		--primary-nav--color-border: var(--global--color-primary);
		--primary-nav--color-link: var(--global--color-secondary);
		--primary-nav--color-link-hover: var(--global--color-primary-hover); 
		--primary-nav--color-text: var(--global--color-secondary); 
		--primary-nav--padding: calc(0.66 * var(--global--spacing-unit) ); 
		--primary-nav--justify-content: center; 
		
		/* Form */
		--form--font-family: var(--global--font-secondary);
		--form--font-size: var(--global--font-size-md);
		--form--line-height: var(--global--line-height-body);
		--form--color-text: var(--global--color-foreground);
		--form--border-color: var(--global--color-border); 
		--form--border-width: 1px; 
		--form--border-radius: 5px; 
		--form--spacing-unit: calc(0.5 * var(--global--spacing-unit));
		--form--background-color: white;
		--form--box-shadow: none;
		
		/* Button */
		--button--color-text: var(--global--color-white);
		--button--color-text-hover: var(--global--color-white);
		--button--color-text-active: var(--global--color-white);
		--button--color-background: var(--global--color-primary);
		--button--color-background-hover: var(--global--color-primary-hover);
		--button--color-background-active: var(--global--color-primary-hover);
		--button--font-family: var(--global--font-ui);
		--button--font-size: var(--global--font-size-md);
		--button--font-weight: normal;
		--button--line-height: 1;
		--button--border-width: 1px; 
		--button--border-radius: 5px;
		--button--padding-vertical: 14px; 
		--button--padding-horizontal: var(--global--spacing-horizontal);	
		
		/* Separator */
		--separator--height: 4px;
		--separator--width: 50px;
		
		/* DIBAWAH ini jarang kepake, serah klo mo coba2 */	
		
		/* Spacing */
		--global--spacing-unit: 25px;
		--global--spacing-measure: unset;
		/* Elevation */
		--global--elevation: 1px 1px 3px 0px rgba( 0, 0, 0, 0.2 );
		/* Other */
		--global--border-radius-sm: 9px;
		--global--border-radius-md: 13.5px;
		--global--border-radius-lg: 18px;
		--global--border-radius-pill: 180px;
		--global--border-radius-none: 0;
		
		--cover--height: calc( 15 * var(--global--spacing-vertical) );
		--cover--color-foreground: var(--global--color-foreground-high-contrast);
		--cover--color-background: var(--global--color-foreground);
		
		--latest-posts--title-font-family: var(--heading--font-family);
		--latest-posts--title-font-size: var(--heading--font-size-h3);
		--latest-posts--description-font-family: var(--global--font-secondary);
		--latest-posts--description-font-size: var(--global--font-size-sm);
		--layout-grid--gutter-none: 0px;
		--layout-grid--gutter-small: calc( var(--global--spacing-unit) / 2);
		--layout-grid--gutter-medium: var(--global--spacing-unit);
		--layout-grid--gutter-large: calc( var(--global--spacing-unit) * 2);
		--layout-grid--gutter-huge: calc( var(--global--spacing-unit) * 3);
		--layout-grid--background-offset: var(--global--spacing-unit);
		--list--font-family: var(--global--font-secondary);
		--definition-term--font-family: var(--global--font-primary);
		--pullquote--font-family: var(--global--font-primary);
		--pullquote--font-size: var(--heading--font-size-h2);
		--pullquote--font-style: italic;
		--pullquote--letter-spacing: var(--heading--letter-spacing-h4);
		--pullquote--line-height: var(--global--line-height-heading);
		--pullquote--border-width: 0;
		--pullquote--border-color: transparent;
		--pullquote--color-foreground: var(--global--color-foreground);
		--pullquote--color-background: var(--global--color-background);
		--quote--border-color: var(--global--color-secondary);
		--quote--border-width: 1px;
		--quote--font-family: var(--global--font-secondary);
		--quote--font-size: var(--global--font-size-md);
		--quote--font-size-large: var(--global--font-size-lg);
		--quote--font-style: normal;
		--quote--font-style-large: normal;
		--quote--line-height: var(--global--line-height-body);
		--quote--line-height-large: 1.5;
		--separator--border-color: var(--global--color-border);
		--utilities--font-size-xs: var(--global--font-size-xs);
		--utilities--font-size-sm: var(--global--font-size-sm);
		--utilities--font-size-md: var(--global--font-size-md);
		--utilities--font-size-lg: var(--global--font-size-lg);
		--utilities--font-size-xl: var(--global--font-size-xl);
		--utilities--font-size-xxl: var(--global--font-size-xxl);
		--utilities--font-size-xxxl: var(--global--font-size-xxxl);
		--branding--color-text: var(--global--color-foreground);
		--branding--color-link: var(--global--color-primary);
		--branding--color-link-hover: var(--global--color-primary-hover);
		--branding--title--font-family: var(--global--font-primary);
		--branding--title--font-size: calc( 1.25 * var(--heading--font-size-h1) );
		--branding--title--font-size-mobile: var(--heading--font-size-h1);
		--branding--title--font-weight: 700;
		--branding--description--font-family: var(--global--font-secondary);
		--branding--description--font-size: var(--global--font-size-sm);
		--branding--description--font-family: var(--global--font-secondary);
		--branding--logo--max-width: 120px;
		--branding--logo--max-height: 120px;
		--branding--logo--max-width-mobile: 96px;
		--branding--logo--max-height-mobile: 96px;
		
		--social-nav--color-link: var(--global--color-foreground);
		--social-nav--color-link-hover: var(--global--color-primary-hover);
		--social-nav--padding: calc( 0.5 * var(--primary-nav--padding) );
		--wpcom-marketing-bar--height: 45px;
		--wpadmin-bar--height: 46px;
		
		--entry-content--font-family: var(--heading--font-size-h2);
		--entry-meta--color: var(--global--color-foreground);
		--entry-meta--color-link: currentColor;
		--entry-meta--color-hover: var(--global--color-primary-hover);
		--entry-meta--font-family: var(--global--font-primary);
		--entry-meta--font-size: var(--global--font-size-xs);
		--entry-author-bio--font-family: var(--heading--font-family);
		--entry-author-bio--font-size: var(--heading--font-size-h3);
		--comments--border-color: var(--global--color-border);
		--footer--color-text: var(--global--color-foreground);
		--footer--color-link: var(--global--color-primary);
		--footer--color-link-hover: var(--global--color-primary-hover);
		--footer--font-family: var(--global--font-primary);
		--footer--font-size: var(--global--font-size-sm);
		--pagination--color-text: var(--global--color-foreground);
		--pagination--color-link: var(--global--color-primary);
		--pagination--color-link-hover: var(--global--color-primary-hover);
		--pagination--font-family: var(--global--font-secondary);
		--pagination--font-size: var(--global--font-size-sm);
		--pagination--font-weight: normal;
		--wc--wrapper-width: default;
		--wc--table--border-color: var(--global--color-border);
		--wc--table--border-radius: 0;
		--wc--table--border-width: 1px;
		--wc--table--padding: var(--global--spacing-unit);
		--wc--tabs--border-color: var(--global--color-border);
		--wc--tabs--border-radius: 10px;
		--wc--tabs--border-width: 1px;
		--wc--tabs--padding: var(--global--spacing-horizontal);
		--wc--mini-cart--color-background: var(--global--color-background);
		--wc--mini-cart--color-text: var(--global--color-foreground);
		--wc--mini-cart--color-subtotal: var(--global--color-foreground);
		--wc--mini-cart--color-count: var(--global--color-foreground-low-contrast);
		--wc--mini-cart--color-border: var(--global--color-border);
		--wc--mini-cart--button-text-color: var(--button--color-text);
		--wc--mini-cart--button-background-color: var(--button--color-background);
		--wc--mini-cart--width: calc(25 * var(--global--spacing-unit));
		--wc--star-rating--color: var(--global--color-alert-warning);
	}
	
/* GENERAL */
	.has-white-background-color {
		background-color: #ffffff !important;
	}

	.has-white-color {
		color: #ffffff !important;
	}

	::selection {
		background-color:var(--global--color-primary) !important;
		color:#ffffff;
	}
	
	::-moz-selection {
		background-color:var(--global--color-primary) !important;
		color:#ffffff;
	}	
	body {
		font-family:var(--global--font-primary);		
		/*--wp--typography--line-height: var(--global--line-height-body);
		color: var(--global--color-foreground);
		background-color: var(--global--color-background);
		font-size: var(--global--font-size-root);
		font-weight: normal;
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;*/	
	}
	
	a {
		border-bottom:0;	
	}

	p.has-text-color a {
		color:inherit;
	}
	
	.components-placeholder__fieldset .components-button {
		height:'';
	}
	
	.has-h-1-font-size, .wp-block-cover .has-h-1-font-size { font-size:var(--heading--font-size-h1); line-height:var(--heading--line-height-h1); }
	.has-h-2-font-size, .wp-block-cover .has-h-2-font-size { font-size:var(--heading--font-size-h2); line-height:var(--heading--line-height-h2); }
	.has-h-3-font-size, .wp-block-cover .has-h-3-font-size { font-size:var(--heading--font-size-h3); line-height:var(--heading--line-height-h3); }
	.has-h-4-font-size, .wp-block-cover .has-h-4-font-size { font-size:var(--heading--font-size-h4); line-height:var(--heading--line-height-h4); }
	.has-h-5-font-size, .wp-block-cover .has-h-5-font-size { font-size:var(--heading--font-size-h5); line-height:var(--heading--line-height-h5); }
	.has-h-6-font-size, .wp-block-cover .has-h-6-font-size { font-size:var(--heading--font-size-h6); line-height:var(--heading--line-height-h6); }
		
	h1, h2, h3, h4, h5, h6 {
		color:var(--entry-header--color);	
	}
	
	.has-primary-color { color:var(--global--color-primary) !important; }
	.has-secondary-color { color:var(--global--color-secondary) !important; }
	.has-tertiary-color { color:var(--global--color-tertiary) !important; }
	.has-border-color { color:var(--global--color-border) !important; }
	.has-foreground-color { color:var(--global--color-foreground) !important; }
	.has-background-color { color:var(--global--color-background) !important; }
	
	.site-content > .entry-content {
		margin:0;
	}
	
	.entry-container {
		width:100%;
	}
	
	.entry-container > * {
		max-width:var(--responsive--aligndefault-width);
		margin:0 auto;
		
	}
	
	.row {
		display:flex;
		flex-wrap:wrap;
		margin:0 calc( var(--global--spacing-horizontal) * -1 );
	}
	
	.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9 {
		position: relative;
		width: 100%;
		padding-right: var(--global--spacing-horizontal);
		padding-left: var(--global--spacing-horizontal);
	}
	
	.col-xs-1 { flex: 0 0 8.333333%; max-width: 8.333333%; }
	.col-xs-2 { flex: 0 0 16.666667%; max-width: 16.666667%; }
	.col-xs-3 { flex: 0 0 25%; max-width: 25%;}
	.col-xs-4 { flex: 0 0 33.333333%; max-width: 33.333333%;}	
	.col-xs-5 { flex: 0 0 41.666667%; max-width: 41.666667%;}
	.col-xs-6 { flex: 0 0 50%; max-width: 50%;}
	.col-xs-7 { flex: 0 0 58.333333%; max-width: 58.333333%;}
	.col-xs-8 { flex: 0 0 66.666667%; max-width: 66.666667%;}	
	.col-xs-9 { flex: 0 0 75%; max-width: 75%;}
	.col-xs-10 { flex: 0 0 83.333333%; max-width: 83.333333%;}
	.col-xs-11 { flex: 0 0 91.666667%; max-width: 91.666667%;}
	.col-xs-12 { flex: 0 0 100%; max-width: 100%;}
	
	@media( min-width:576px ) {		
		.col-sm-1 { flex: 0 0 8.333333%; max-width: 8.333333%; }
		.col-sm-2 { flex: 0 0 16.666667%; max-width: 16.666667%; }
		.col-sm-3 { flex: 0 0 25%; max-width: 25%;}
		.col-sm-4 { flex: 0 0 33.333333%; max-width: 33.333333%;}	
		.col-sm-5 { flex: 0 0 41.666667%; max-width: 41.666667%;}
		.col-sm-6 { flex: 0 0 50%; max-width: 50%;}
		.col-sm-7 { flex: 0 0 58.333333%; max-width: 58.333333%;}
		.col-sm-8 { flex: 0 0 66.666667%; max-width: 66.666667%;}	
		.col-sm-9 { flex: 0 0 75%; max-width: 75%;}
		.col-sm-10 { flex: 0 0 83.333333%; max-width: 83.333333%;}
		.col-sm-11 { flex: 0 0 91.666667%; max-width: 91.666667%;}
		.col-sm-12 { flex: 0 0 100%; max-width: 100%;}
	}
	
	@media( min-width:768px ) {
		.col-md-1 { flex: 0 0 8.333333%; max-width: 8.333333%; }
		.col-md-2 { flex: 0 0 16.666667%; max-width: 16.666667%; }
		.col-md-3 { flex: 0 0 25%; max-width: 25%;}
		.col-md-4 { flex: 0 0 33.333333%; max-width: 33.333333%;}	
		.col-md-5 { flex: 0 0 41.666667%; max-width: 41.666667%;}
		.col-md-6 { flex: 0 0 50%; max-width: 50%;}
		.col-md-7 { flex: 0 0 58.333333%; max-width: 58.333333%;}
		.col-md-8 { flex: 0 0 66.666667%; max-width: 66.666667%;}	
		.col-md-9 { flex: 0 0 75%; max-width: 75%;}
		.col-md-10 { flex: 0 0 83.333333%; max-width: 83.333333%;}
		.col-md-11 { flex: 0 0 91.666667%; max-width: 91.666667%;}
		.col-md-12 { flex: 0 0 100%; max-width: 100%;}
	}
	
	@media( min-width:992px ) {
		.col-lg-1 { flex: 0 0 8.333333%; max-width: 8.333333%; }
		.col-lg-2 { flex: 0 0 16.666667%; max-width: 16.666667%; }
		.col-lg-3 { flex: 0 0 25%; max-width: 25%;}
		.col-lg-4 { flex: 0 0 33.333333%; max-width: 33.333333%;}	
		.col-lg-5 { flex: 0 0 41.666667%; max-width: 41.666667%;}
		.col-lg-6 { flex: 0 0 50%; max-width: 50%;}
		.col-lg-7 { flex: 0 0 58.333333%; max-width: 58.333333%;}
		.col-lg-8 { flex: 0 0 66.666667%; max-width: 66.666667%;}	
		.col-lg-9 { flex: 0 0 75%; max-width: 75%;}
		.col-lg-10 { flex: 0 0 83.333333%; max-width: 83.333333%;}
		.col-lg-11 { flex: 0 0 91.666667%; max-width: 91.666667%;}
		.col-lg-12 { flex: 0 0 100%; max-width: 100%;}
	}
	
	@media( min-width:1200px ) {
		.col-xl-1 { flex: 0 0 8.333333%; max-width: 8.333333%; }
		.col-xl-2 { flex: 0 0 16.666667%; max-width: 16.666667%; }
		.col-xl-3 { flex: 0 0 25%; max-width: 25%;}
		.col-xl-4 { flex: 0 0 33.333333%; max-width: 33.333333%;}	
		.col-xl-5 { flex: 0 0 41.666667%; max-width: 41.666667%;}
		.col-xl-6 { flex: 0 0 50%; max-width: 50%;}
		.col-xl-7 { flex: 0 0 58.333333%; max-width: 58.333333%;}
		.col-xl-8 { flex: 0 0 66.666667%; max-width: 66.666667%;}	
		.col-xl-9 { flex: 0 0 75%; max-width: 75%;}
		.col-xl-10 { flex: 0 0 83.333333%; max-width: 83.333333%;}
		.col-xl-11 { flex: 0 0 91.666667%; max-width: 91.666667%;}
		.col-xl-12 { flex: 0 0 100%; max-width: 100%;}
	}
	
	@media( min-width:1290px ) {
		.col-xxl-1 { flex: 0 0 8.333333%; max-width: 8.333333%; }
		.col-xxl-2 { flex: 0 0 16.666667%; max-width: 16.666667%; }
		.col-xxl-3 { flex: 0 0 25%; max-width: 25%;}
		.col-xxl-4 { flex: 0 0 33.333333%; max-width: 33.333333%;}	
		.col-xxl-5 { flex: 0 0 41.666667%; max-width: 41.666667%;}
		.col-xxl-6 { flex: 0 0 50%; max-width: 50%;}
		.col-xxl-7 { flex: 0 0 58.333333%; max-width: 58.333333%;}
		.col-xxl-8 { flex: 0 0 66.666667%; max-width: 66.666667%;}	
		.col-xxl-9 { flex: 0 0 75%; max-width: 75%;}
		.col-xxl-10 { flex: 0 0 83.333333%; max-width: 83.333333%;}
		.col-xxl-11 { flex: 0 0 91.666667%; max-width: 91.666667%;}
		.col-xxl-12 { flex: 0 0 100%; max-width: 100%;}
	}
	
	table td, 
	table th,
	.wp-block-table td,
	.wp-block-table th {
		border:1px solid var(--global--color-border);
	}
	
	.wp-block-table thead {
		border-bottom: 3px solid;
		text-align:left;
	}
	
	table th,
	.wp-block-table th {
		color: var(--global--color-black);
		border:none;
		
	}
	
	table td,
	.wp-block-table td {
		border:none;
	}

/* EXTENDED GUTENBERG BLOCKS */
	/* Block Cover */
	.wp-block-cover .wp-block-cover__inner-container,
	.wp-block-cover-image .wp-block-cover__inner-container {
		width:100%;
	}
	
	.wp-block-cover.has-border-background-color { background-color:var(--global--color-border); }
	
	/* Buttons */
	.wp-block-button__link {
		border:2px solid var(--button--color-background);	
		transition:all 0.2s ease 0s;
	}
	
	.wp-block-button__link:hover,
	.wp-block-button__link:focus {
		border:var(--button--border-width) solid var(--button--color-background-hover);	
	}
	
	.wp-block-button.is-style-outline .wp-block-button__link:not(.has-background):hover,
	.wp-block-button.is-style-outline .wp-block-button__link:not(.has-background):focus {
		border:var(--button--border-width) solid var(--button--color-background-hover);	
		background-color:var(--button--color-background-hover);
		color:var(--button--color-text-hover);
	}
	
	.is-style-3d .wp-block-button__link {
		box-shadow:none;
	}
	
	.is-style-3d .wp-block-button__link:before {
		content: '';
		width: 100%;
		height: 6px;
		position: absolute;
		bottom: 3px;
		left: 0;
		box-shadow: 0 3px var(--button--color-background);
		border-radius: 0 0 var(--button--border-radius) var(--button--border-radius);
		opacity: 0.25;
		z-index: 1;
	}	
	
	/* Spacer */	
	.is-style-spacer25 {
		height:25px !important;
	}
	
	.is-style-spacer25 .block-library-spacer__resize-container.has-show-handle {
		height:25px !important;
	}
	
	.is-style-spacer50 {
		height:50px !important;
	}
	
	.is-style-spacer50 .block-library-spacer__resize-container.has-show-handle {
		height:50px !important;
	}
	
	.is-style-spacer100 {
		height:100px !important;
	}
	
	.is-style-spacer50 .block-library-spacer__resize-container.has-show-handle {
		height:100px !important;
	}

	/* Separator */
	.wp-block-separator:not(.is-style-wide):not(.is-style-dots),
	hr.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
		width:var(--separator--width);		
		border:none;
		height:var(--separator--height);
		opacity:1;
	}
	
	hr.wp-block-separator:not(.is-style-wide):not(.is-style-dots):not(.has-background) {						
		background-color:var(--global--color-primary);		
	}
	
	hr.wp-block-separator.is-style-left,
	hr.wp-block-separator.is-style-right {
		width:100% !important;
		max-width:100% !important;
		position:relative;
		background-color:transparent !important;
		border:none;
		height:var(--separator--height);
	}
	
	hr.wp-block-separator.is-style-left:after,
	hr.wp-block-separator.is-style-right:after {
		content:'';
		width:100%;
		max-width:var(--separator--width);
		height:var(--separator--height);
		position:absolute;
		top:0;			
		background-color:var(--global--color-primary);
	}	
	
	hr.wp-block-separator.is-style-left:after {
		left:0;	
	}
	
	hr.wp-block-separator.is-style-right:after {
		right:0;
	}
	
	hr.wp-block-separator.is-style-left.has-primary-color:after,
	hr.wp-block-separator.is-style-right.has-primary-color:after { background-color:var(--global--color-primary);	}
	hr.wp-block-separator.is-style-left.has-secondary-color:after,
	hr.wp-block-separator.is-style-rught.has-secondary-color:after { background-color:var(--global--color-secondary);	}
	hr.wp-block-separator.is-style-left.has-tertiary-color:after,
	hr.wp-block-separator.is-style-right.has-tertiary-color:after { background-color:var(--global--color-tertiary);	}
	hr.wp-block-separator.is-style-left.has-foreground-color:after,
	hr.wp-block-separator.is-style-right.has-foreground-color:after { background-color:var(--global--color-foreground);	}
	hr.wp-block-separator.is-style-left.has-background-color:after,
	hr.wp-block-separator.is-style-right.has-background-color:after { background-color:var(--global--color-background);	}
	hr.wp-block-separator.is-style-left.has-border-color:after,
	hr.wp-block-separator.is-style-right.has-border-color:after { background-color:var(--global--color-border);	}

	/* Column */
	.wp-block-column {
		margin-left:auto;
		margin-right:auto;
	}
	
	/*.wp-block-columns .wp-block-column > * {
		margin-top:0;
	}
	
	.wp-block-column:not(:first-child),
	.editor-styles-wrapper .block-editor-block-list__block.wp-block-column:not(:first-child) {
		margin-left:60px;
	}
	
	@media( max-width:1199px ) {
		.wp-block-column:not(:first-child) {		
			margin-left: 30px;
		}
	}
	
	@media( max-width:991px ) {
		.wp-block-columns {
			flex-flow: column;
		}

		.wp-block-columns > .wp-block-column {
			width: 100%;
			margin-left: 0px;
		}
		
		.wp-block-columns .wp-block-column:not(:last-child) {
			margin-bottom:30px;
		}
	}*/
	
	/* Media & Text - standard-width */
	.wp-block-media-text.standard-width {
		max-width:var(--responsive--aligndefault-width);
	}

	.wp-block-media-text.whitebox {
		background-color:#fff;
		border-radius: 6px;
		padding:50px;
		grid-template-columns:160px 1fr !important;
	}

	.wp-block-media-text.whitebox .wp-block-media-text__media {
		width:160px !important;
		height:160px !important;
		overflow: hidden;
		align-self: flex-start;
		border-radius: 6px;
		border:1px solid var(--global--color-border);
	}

	.wp-block-media-text.whitebox .wp-block-media-text__media img {
		height:100%;
		object-fit: cover;
	}

	.wp-block-media-text.whitebox .wp-block-media-text__content {
		padding:0 0 0 50px;
	}

	@media( max-width:991px ) {
		.wp-block-media-text.whitebox {
			padding:25px;
		}
	}

	@media( max-width:600px ) {
		.wp-block-media-text.whitebox {
			text-align: center;
			grid-template-columns:100% !important;
		}
		
		.wp-block-media-text.whitebox .wp-block-media-text__media {
			width:100%;
			align-self: center;
		}
		
		.wp-block-media-text.whitebox .wp-block-media-text__media  {
			max-width:160px;
			margin:0 auto;
		}
		
		.wp-block-media-text.whitebox .wp-block-media-text__content {
			padding:25px 0 0 0;
		}
		
		.wp-block-media-text.whitebox .wp-block-buttons {
			justify-content: center;
		}
	}

	/* Group - whitebox */
	.wp-block-group.whitebox {
		background-color:#fff;
		border-radius: 6px;
		padding:50px;
		max-width: var(--responsive--aligndefault-width);
	}

	@media( max-width:991px ) {
		.wp-block-group.whitebox {
			padding:25px;
		}
	}

	@media( max-width:600px ) {
		.wp-block-group.whitebox {
			text-align: center;
		}
		
		.wp-block-group.whitebox .wp-block-buttons {
			justify-content: center;
		}
	}

	/* Group - contactbox */
	.wp-block-group.contactbox {
		padding:0;
	}

	.wp-block-group.contactbox .wp-block-column {
		padding:25px 25px;
	}

	.wp-block-group.contactbox .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column:not(:first-child) {
		padding-left:0;
	}

	@media( max-width:600px ) {
		.wp-block-group.contactbox .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column:not(:first-child) {
			padding-left:25px;
		}
	}

	/* Image */
	.is-style-fit-container { width:100%; height:100%; position:absolute; }
	.is-style-fit-container img { width:100%; height:100%; object-fit:cover; }
	
	@media( max-width:991px ) {
		.is-style-fit-container {
			position:static;
			height:initial;
		}
	}
	
	/* Search */
	.wp-block-search .wp-block-search__label {
		font-weight:bold;
	}
	.wp-block-search .wp-block-search__input {
		border:1px solid var(--global--color-border);
		background-color:var(--global--color-background);
	}
	
	.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper {		
		border:1px solid var(--global--color-border);
		background-color:var(--global--color-background);
		padding:0;
	}
	
	.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__input {
		padding:10px 15px;		
	}
	
	.wp-block-search.wp-block-search__button-outside .wp-block-search__inside-wrapper .wp-block-search__input {
		padding:10px 15px;
		margin:0;
	}	
	
	.wp-block-search .wp-block-search__button.wp-block-search__button.wp-block-search__button {
		padding:0 15px
		display: flex;
		align-items: center;
	}
	
	.wp-block-search .wp-block-search__button {
		border-radius:0px;
	}
	
	.wp-block-search .wp-block-search__button.has-icon {
		border-radius:0px;
		width:50px;
	}
	
	/* Quote */
	blockquote,
	.wp-block-quote {
		border-left:4px solid var(--global--color-primary);
		padding-top:10px;
		padding-bottom:10px;
	}
	
	blockquote p,
	.wp-block-quote p {
		margin:0 0 5px 0;
	}
	
	.wp-block-quote .wp-block-quote__citation, 
	.wp-block-quote cite, 
	.wp-block-quote footer {
		font-size:var(--global--font-size-sm);
		font-weight:700;
	}
	
/* CUSTOM CLASSES */
	.primaryfont {
		font-family:var(--global--font-primary);
	}
	
	.secondaryfont {
		font-family:var(--global--font-secondary);
	}

 	.white-background {
		background-color:#ffffff;
	}